<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" (click)="setPage(p.DAS.N)">
    <img src="./assets/images/new_mivo_logo.png" alt="brand-logo" />
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li *ngIf="menu.dash" [ngClass]="{'active': page==p.DAS.N}" class="nav-item" (click)="setPage(p.DAS.N)">
    <a class="nav-link">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li *ngIf="menu.account" class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#myAccount" aria-expanded="true"
      aria-controls="myAccount">
      <i class="fas fa-fw fa-user"></i>
      <span>My Account</span>
    </a>
    <div id="myAccount" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a *ngIf="menu.outstanding" class="collapse-item" [ngClass]="{'active': page==p.ACC.OUT}"
          (click)="setPage(p.ACC.OUT)"><i class="fas fa-fw fa-star"></i> Outstanding Bills</a>
        <a *ngIf="menu.commissionsPaid" class="collapse-item"><i class="fas fa-fw fa-money-bill-wave"></i> Commissions
          Paid</a>
        <a *ngIf="menu.estimatedCommissions" class="collapse-item"><i class="fas fa-fw fa-calculator"></i> Estimated
          Commissions</a>
        <a *ngIf="menu.premiumCollection" class="collapse-item"><i class="fas fa-fw fa-award"></i> Premium
          Collection</a>
      </div>
    </div>
  </li>

  <li *ngIf="menu.client" class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#myClient" aria-expanded="true"
      aria-controls="myClient">
      <i class="fas fa-fw fa-handshake"></i>
      <span>My Client</span>
    </a>
    <div id="myClient" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Clients:</h6>
        <a class="collapse-item"><i class="fas fa-fw fa-info-circle"></i> Details</a>
        <h6 class="collapse-header">Policies:</h6>
        <a class="collapse-item"><i class="fas fa-fw fa-user-check"></i> Active</a>
        <a class="collapse-item"><i class="fas fa-fw fa-user-times"></i> Cancelled</a>
        <a class="collapse-item"><i class="fas fa-fw fa-sync"></i> Renewed</a>
        <a class="collapse-item"><i class="fas fa-fw fa-user-slash"></i> Not Renewed</a>
        <a class="collapse-item"><i class="fas fa-fw fa-exclamation-triangle"></i> Expiring</a>
        <a class="collapse-item"><i class="fas fa-fw fa-user-clock"></i> Provisional</a>
        <h6 class="collapse-header">Quotations:</h6>
        <a class="collapse-item"><i class="fas fa-fw fa-user-check"></i> Active</a>
        <a class="collapse-item"><i class="fas fa-fw fa-user-clock"></i> Provisional</a>
        <h6 class="collapse-header">Claims:</h6>
        <a class="collapse-item"><i class="fas fa-fw fa-info-circle"></i> Details</a>
      </div>
    </div>
  </li>

  <li *ngIf="menu.quick" class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#quickQuotation" aria-expanded="true"
      aria-controls="quickQuotation">
      <i class="fas fa-fw fa-play"></i>
      <span>Quick Quotation</span>
    </a>
    <div id="quickQuotation" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a *ngIf="menu.quickCar" class="collapse-item" [ngClass]="{'active': page==p.QUI.CAR}"
          (click)="setPage(p.QUI.CAR)"><i class="fas fa-fw fa-car"></i> Car</a>
        <a *ngIf="menu.quickHome" class="collapse-item" [ngClass]="{'active': page==p.QUI.HOM}"
          (click)="setPage(p.QUI.HOM)"><i class="fas fa-fw fa-home"></i> Home</a>
        <a *ngIf="menu.quickTravel" class="collapse-item" [ngClass]="{'active': page==p.QUI.TRA}"
          (click)="setPage(p.QUI.TRA)"><i class="fas fa-fw fa-plane"></i> Travel</a>
        <a *ngIf="menu.quickAccident" class="collapse-item" [ngClass]="{'active': page==p.QUI.ACC}"
          (click)="setPage(p.QUI.ACC)"><i class="fas fa-fw fa-shield-alt"></i> Accident</a>
      </div>
    </div>
  </li>

  <li *ngIf="menu.quotation" class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#quotation" aria-expanded="true"
      aria-controls="quotation">
      <i class="fas fa-fw fa-play"></i>
      <span>Quotation</span>
    </a>
    <div id="quotation" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a *ngIf="menu.quotationCar" class="collapse-item" [ngClass]="{'active': page==p.QUO.CAR}"
          (click)="setPage(p.QUO.CAR)"><i class="fas fa-fw fa-car"></i> Car</a>
        <a *ngIf="menu.quotationHome" class="collapse-item" [ngClass]="{'active': page==p.QUO.HOM}"
          (click)="setPage(p.QUO.HOM)"><i class="fas fa-fw fa-home"></i> Home</a>
        <a *ngIf="menu.quotationTravel" class="collapse-item" [ngClass]="{'active': page==p.QUO.TRA}"
          (click)="setPage(p.QUO.TRA)"><i class="fas fa-fw fa-plane"></i> Travel</a>
        <a *ngIf="menu.quotationAccident" class="collapse-item" [ngClass]="{'active': page==p.QUO.ACC}"
          (click)="setPage(p.QUO.ACC)"><i class="fas fa-fw fa-shield-alt"></i> Accident</a>
      </div>
    </div>
  </li>

  <li *ngIf="menu.issuance" class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#policyIssuance" aria-expanded="true"
      aria-controls="policyIssuance">
      <i class="fas fa-fw fa-play"></i>
      <span>Policy Issuance</span>
    </a>
    <div id="policyIssuance" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a *ngIf="menu.issuanceCar" class="collapse-item" [ngClass]="{'active': page==p.ISS.CAR}"
          (click)="setPage(p.ISS.CAR)"><i class="fas fa-fw fa-car"></i> Car</a>
        <a *ngIf="menu.issuanceHome" class="collapse-item" [ngClass]="{'active': page==p.ISS.HOM}"
          (click)="setPage(p.ISS.HOM)"><i class="fas fa-fw fa-home"></i> Home</a>
        <a *ngIf="menu.issuanceTravel" class="collapse-item" [ngClass]="{'active': page==p.ISS.TRA}"
          (click)="setPage(p.ISS.TRA)"><i class="fas fa-fw fa-plane"></i> Travel</a>
        <a *ngIf="menu.issuanceAccident" class="collapse-item" [ngClass]="{'active': page==p.ISS.ACC}"
          (click)="setPage(p.ISS.ACC)"><i class="fas fa-fw fa-shield-alt"></i> Accident</a>
      </div>
    </div>
  </li>

  <li *ngIf="menu.requests" class="nav-item">
    <a class="nav-link">
      <i class="fas fa-fw fa-bell"></i>
      <span>Requests</span>
    </a>
  </li>

  <li *ngIf="menu.utilities" class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#utilities" aria-expanded="true"
      aria-controls="utilities">
      <i class="fas fa-fw fa-tools"></i>
      <span>Utilities</span>
    </a>
    <div id="utilities" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a *ngIf="menu.query" class="collapse-item" [ngClass]="{'active': page==p.UTI.QUE}"
          (click)="setPage(p.UTI.QUE)"><i class="fas fa-fw fa-clipboard-list"></i> Query</a>
        <a *ngIf="menu.documentPrinting" class="collapse-item" [ngClass]="{'active': page==p.UTI.DOC}"
          (click)="setPage(p.UTI.DOC)"><i class="fas fa-fw fa-print"></i> Document Printing</a>
        <a *ngIf="menu.changePassword" class="collapse-item" [ngClass]="{'active': page==p.UTI.CHA}"
          (click)="setPage(p.UTI.CHA)"><i class="fas fa-fw fa-key"></i> Change Password</a>
      </div>
    </div>
  </li>

  <li *ngIf="menu.news" [ngClass]="{'active': page==p.NEW.N}" class="nav-item" (click)="setPage(p.NEW.N)">
    <a class="nav-link">
      <i class="fas fa-fw fa-newspaper"></i>
      <span>News</span>
    </a>
  </li>

  <li *ngIf="menu.faq" [ngClass]="{'active': page==p.FAQ.N}" class="nav-item" (click)="setPage(p.FAQ.N)">
    <a class="nav-link">
      <i class="fas fa-fw fa-question"></i>
      <span>FAQ</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    User Information
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <div class="nav-link">
      <i class="fas fa-fw fa-map-marked-alt"></i>
      <span>{{currentUser.address}}</span></div>
  </li>

  <li class="nav-item">
    <div class="nav-link">
      <i class="fas fa-fw fa-key"></i>
      <span>Your password will expire in <strong>{{currentUser.expiryDay}}
          {{currentUser.expiryDay <= 1 ? 'day' : 'days' }}</strong></span></div>
  </li>

  <div *ngIf="hasSelectedAgent">
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading">
      Agent Information
    </div>

    <!-- Nav Item - Charts -->

    <li class="nav-item">
      <div class="nav-link">
        <i class="fas fa-fw fa-user"></i>
        <span>{{currentUser.selectedAgent.agentName}}</span></div>
    </li>

    <li class="nav-item">
      <div class="nav-link">
        <i class="fas fa-fw fa-map-marked-alt"></i>
        <span>{{currentUser.selectedAgent.agentAddress}}</span></div>
    </li>
  </div>


  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> -->

</ul>
