<div mat-dialog-content>
  <mat-form-field>
    <label>Coverage:</label>
    <h4>{{data.coverage}}</h4>
  </mat-form-field>
  <mat-form-field *ngIf="!data.isSelect">
    <label>Sum Insured</label>
    <input type="number" class="form-control" [(ngModel)]="data.sumInsured">
  </mat-form-field>
  <mat-form-field>
    <label>Net Premium</label>
    <input type="number" class="form-control" [(ngModel)]="data.netPremium">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="close(false)">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="close(true)" [mat-dialog-close]="data" cdkFocusInitial>
      Update
    </button>
  </div>
</div>