<div class="row" id="quickQuotationTravel">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Travel</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quoteForm" class="quote-form">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Travel Itinerary</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['currency'].invalid 
                    && (quoteForm.controls['currency'].dirty 
                    || quoteForm.controls['currency'].touched)}">
                    <label for="currency">Currency</label>
                    <select class="custom-select mr-sm-2 required" formControlName="currency"
                      [(ngModel)]="travelDetails.currency">
                      <option selected></option>
                      <option *ngFor="let currency of currencyLOV" [ngValue]="currency.value">{{ currency.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['currency'].errors?.required">
                      * currency is required
                    </p>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6">
                  <h6>Itinerary</h6>
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['country'].invalid 
                    && (quoteForm.controls['country'].dirty 
                    || quoteForm.controls['country'].touched)}">
                    <ng-multiselect-dropdown [placeholder]="'Select Country to visit'" formControlName="country"
                      [data]="countryLOV" [(ngModel)]="travelDetails.country" [settings]="dropdownSettings"
                      (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                    <p class="form-error" *ngIf="quoteForm.controls['country'].errors?.required">
                      * country is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>General Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['travelPackage'].invalid 
                    && (quoteForm.controls['travelPackage'].dirty 
                    || quoteForm.controls['travelPackage'].touched)}">
                    <label for="travelPackage">Travel Package</label>
                    <select class="custom-select mr-sm-2 required" formControlName="travelPackage"
                      [(ngModel)]="travelDetails.travelPackage">
                      <option selected></option>
                      <option *ngFor="let travelPackage of travelPackageLOV" [ngValue]="travelPackage.value">
                        {{ travelPackage.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['travelPackage'].errors?.required">
                      * travel package is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['travelType'].invalid 
                    && (quoteForm.controls['travelType'].dirty 
                    || quoteForm.controls['travelType'].touched)}">
                    <label for="travelType">Travel Type</label>
                    <select class="custom-select mr-sm-2 required" formControlName="travelType"
                      [(ngModel)]="travelDetails.travelType">
                      <option selected></option>
                      <option *ngFor="let travelType of travelTypeLOV" [ngValue]="travelType.value">
                        {{ travelType.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['travelType'].errors?.required">
                      * travel type is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['startDate'].invalid 
                    && (quoteForm.controls['startDate'].dirty 
                    || quoteForm.controls['startDate'].touched)}">
                    <label for="startDate">Start Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="mindate"
                      formControlName="startDate" [(ngModel)]="travelDetails.startDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['startDate'].errors?.required">
                      * start date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['endDate'].invalid 
                    && (quoteForm.controls['endDate'].dirty 
                    || quoteForm.controls['endDate'].touched)}">
                    <label for="endDate">End Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="endDateMinDate"
                      formControlName="endDate" [(ngModel)]="travelDetails.endDate" bsDatepicker
                      [attr.disabled]="enableEndDate ? null : ''">
                    <p class="form-error" *ngIf="quoteForm.controls['endDate'].errors?.required">
                      * end date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['noOfDays'].invalid 
                    && (quoteForm.controls['noOfDays'].dirty 
                    || quoteForm.controls['noOfDays'].touched)}">
                    <label for="noOfDays">No. of Days</label>
                    <input class="form-control required" id="noOfDays" formControlName="noOfDays"
                      [(ngModel)]="travelDetails.noOfDays" [attr.disabled]="true">
                    <p class="form-error" *ngIf="quoteForm.controls['noOfDays'].errors?.required">
                      * number of days is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['completeItinerary'].invalid 
                    && (quoteForm.controls['completeItinerary'].dirty 
                    || quoteForm.controls['completeItinerary'].touched)}">
                    <label for="completeItinerary">Complete Itinerary</label>
                    <input type="text" formControlName="completeItinerary" class="form-control required"
                      [(ngModel)]="travelDetails.completeItinerary">
                    <p class="form-error" *ngIf="quoteForm.controls['completeItinerary'].errors?.required">
                      * complete itinerary is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['purposeOfTrip'].invalid 
                    && (quoteForm.controls['purposeOfTrip'].dirty 
                    || quoteForm.controls['purposeOfTrip'].touched)}">
                    <label for="purposeOfTrip">Purpose of Trip</label>
                    <select class="custom-select mr-sm-2 required" formControlName="purposeOfTrip"
                      [(ngModel)]="travelDetails.purposeOfTrip">
                      <option selected></option>
                      <option *ngFor="let purposeOfTrip of purposeOfTripLOV" [ngValue]="purposeOfTrip.name">
                        {{ purposeOfTrip.value }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['purposeOfTrip'].errors?.required">
                      * purpose of trip is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['oneTripOnly'].invalid 
                    && (quoteForm.controls['oneTripOnly'].dirty 
                    || quoteForm.controls['oneTripOnly'].touched)}">
                    <label for="oneTripOnly">One Trip Only</label>
                    <select class="custom-select mr-sm-2 required" formControlName="oneTripOnly"
                      [(ngModel)]="travelDetails.oneTripOnly">
                      <option selected></option>
                      <option *ngFor="let oneTripOnly of oneTripOnlyLOV" [ngValue]="oneTripOnly.name">
                        {{ oneTripOnly.value }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['oneTripOnly'].errors?.required">
                      * one trip only is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Group Policy</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['groupPolicy'].invalid 
                        && (quoteForm.controls['groupPolicy'].dirty 
                        || quoteForm.controls['groupPolicy'].touched)}">
                    <label for="groupPolicy">Group Policy</label>
                    <select class="custom-select mr-sm-2" formControlName="groupPolicy"
                      [(ngModel)]="groupPolicy.groupPolicy">
                      <option></option>
                      <option *ngFor="let groupPolicy of groupPolicyLOV" [ngValue]="groupPolicy.value">
                        {{ groupPolicy.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['groupPolicy'].errors?.required">
                      * group policy is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['contract'].invalid 
                        && (quoteForm.controls['contract'].dirty 
                        || quoteForm.controls['contract'].touched)}">
                    <label for="contract">Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="contract"
                      [(ngModel)]="groupPolicy.contract" [attr.disabled]=" groupPolicy.groupPolicy ? null : true">
                      <option></option>
                      <option *ngFor="let contract of contractLOV" [ngValue]="contract.value">{{ contract.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['contract'].errors?.required">
                      * contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subContract'].invalid 
                        && (quoteForm.controls['subContract'].dirty 
                        || quoteForm.controls['subContract'].touched)}">
                    <label for="subContract">Sub Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subContract"
                      [(ngModel)]="groupPolicy.subContract" [attr.disabled]=" groupPolicy.groupPolicy ? null : true">
                      <option></option>
                      <option *ngFor="let subContract of subContractLOV" [ngValue]="subContract.value">
                        {{ subContract.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subContract'].errors?.required">
                      * sub contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['commercialStructure'].invalid 
                        && (quoteForm.controls['commercialStructure'].dirty 
                        || quoteForm.controls['commercialStructure'].touched)}">
                    <label for="commercialStructure">Commercial Structure</label>
                    <select class="custom-select mr-sm-2 required" formControlName="commercialStructure"
                      [(ngModel)]="groupPolicy.commercialStructure">
                      <option></option>
                      <option *ngFor="let commercialStructure of commercialStructureLOV"
                        [ngValue]="commercialStructure.value">{{ commercialStructure.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['commercialStructure'].errors?.required">
                      * commercial structure is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['agentCode'].invalid 
                      && (quoteForm.controls['agentCode'].dirty 
                      || quoteForm.controls['agentCode'].touched)}">
                    <label for="agentCode">Agent Code</label>
                    <input type="text" formControlName="agentCode" class="form-control required"
                      [(ngModel)]="groupPolicy.agentCode">
                    <p class="form-error" *ngIf="quoteForm.controls['agentCode'].errors?.required">
                      * agent code is required
                    </p>
                  </div>
                </div>

                <!-- <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['expiringPolicyNumber'].invalid 
                      && (quoteForm.controls['expiringPolicyNumber'].dirty 
                      || quoteForm.controls['expiringPolicyNumber'].touched)}">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                          id="cbIsRenewal" formControlName="cbIsRenewal"
                          [(ngModel)]="groupPolicy.cbIsRenewal">
                        <label class="form-check-label" for="cbIsRenewal">
                          Renewal
                        </label>
                      </div>
                    <label class="form-check-label" for="cbIsRenewal">
                      Expiring Policy Number
                    </label>
                    <input type="text" formControlName="expiringPolicyNumber" 
                      [attr.disabled]="groupPolicy.cbIsRenewal ? null : ''"
                      class="form-control required"
                      [(ngModel)]="groupPolicy.expiringPolicyNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['expiringPolicyNumber'].errors?.required">
                      * expiring policy number is required
                    </p>
                  </div>
                </div> -->

              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Policy Holder Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Policy Holder</h6>
                </div>

                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['clientName'].invalid 
                    && (quoteForm.controls['clientName'].dirty 
                    || quoteForm.controls['clientName'].touched)}">
                    <label for="clientName">Client's Name</label>
                    <input type="text" formControlName="clientName" class="form-control required"
                      [(ngModel)]="travelDetails.clientName">
                    <p class="form-error" *ngIf="quoteForm.controls['clientName'].errors?.required">
                      * client's name is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Travellers</strong>
            </div>
            <div class="card-body">

              <!-- <form [formGroup]="travellerForm"> -->
              <div formArrayName="travellers">
                <!-- <div *ngFor="let traveller of travellers().controls; let empIndex=index"> -->
                <div *ngFor="let traveller of quoteForm.get('travellers').controls; let i=index">
                  <div [formGroupName]="i" class="card traveller-card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['completeName'].invalid 
                              && (traveller.controls['completeName'].dirty 
                              || traveller.controls['completeName'].touched)}">
                            <label for="completeName">Complete Name</label>
                            <input type="text" formControlName="completeName" class="form-control required"
                              [ngModel]="completeName">
                            <p class="form-error" *ngIf="traveller.controls['completeName'].errors?.required">
                              * complete name is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['birthDate'].invalid 
                          && (traveller.controls['birthDate'].dirty 
                          || traveller.controls['birthDate'].touched)}">
                            <label for="birthDate">Birthdate</label>
                            <input type="text" placeholder="Datepicker" class="form-control required"
                              [maxDate]="mindate" formControlName="birthDate" bsDatepicker>
                            <p class="form-error" *ngIf="traveller.controls['birthDate'].errors?.required">
                              * birthdate is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['relationship'].invalid 
                          && (traveller.controls['relationship'].dirty 
                          || traveller.controls['relationship'].touched)}">
                            <label for="relationship">Relationship</label>
                            <select class="custom-select mr-sm-2 required" formControlName="relationship"
                              [(ngModel)]="relationship">
                              <option *ngFor="let relationship of relationshipLOV" [ngValue]="relationship.value">
                                {{ relationship.name }}</option>
                            </select>
                            <p class="form-error" *ngIf="traveller.controls['relationship'].errors?.required">
                              * relationship is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['passportNumber'].invalid 
                          && (traveller.controls['passportNumber'].dirty 
                          || traveller.controls['passportNumber'].touched)}">
                            <label for="passportNumber">Passport Number</label>
                            <input type="text" formControlName="passportNumber" class="form-control required">
                            <p class="form-error" *ngIf="traveller.controls['passportNumber'].errors?.required">
                              * passport number is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label for="physicianName">Usual Physician Name and Number</label>
                            <input type="text" formControlName="physicianName" class="form-control required">
                          </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                          <div class="btn-group" *ngIf="i > 0">
                            <button class="btn btn-primary" (click)="removeTraveller(i)">Remove</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </form> -->

              <div class="btn-group">
                <button [disabled]="quoteForm.get('travellers').status !== 'VALID'" type="button"
                  (click)="addTraveller()" class="btn btn-primary">Add Travellers</button>
              </div>

            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Coverages</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Coverage Option</h6>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['travelInsurance'].invalid 
                      && (quoteForm.controls['travelInsurance'].dirty 
                      || quoteForm.controls['travelInsurance'].touched)}">
                    <label for="travelInsurance">Travel Insurance Coverage</label>
                    <select class="custom-select mr-sm-2 required" formControlName="travelInsurance"
                      [(ngModel)]="travelDetails.travelInsurance">
                      <option *ngFor="let travelInsurance of travelInsuranceLOV" [ngValue]="travelInsurance.value">
                        {{ travelInsurance.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['travelInsurance'].errors?.required">
                      * travel insurance coverage is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['optionPack'].invalid 
                        && (quoteForm.controls['optionPack'].dirty 
                        || quoteForm.controls['optionPack'].touched)}">
                    <label for="optionPack">Coverage Option Pack</label>
                    <select class="custom-select mr-sm-2 required" formControlName="optionPack"
                      [(ngModel)]="travelDetails.optionPack">
                      <option *ngFor="let optionPack of optionPackLOV" [ngValue]="optionPack.value">
                        {{ optionPack.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['optionPack'].errors?.required">
                      * coverage option pack is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['medicalExpenses'].invalid 
                          && (quoteForm.controls['medicalExpenses'].dirty 
                          || quoteForm.controls['medicalExpenses'].touched)}">
                    <label for="medicalExpenses">Medical Expenses Coverage</label>
                    <select class="custom-select mr-sm-2 required" formControlName="medicalExpenses"
                      [(ngModel)]="travelDetails.medicalExpenses">
                      <option *ngFor="let medicalExpenses of medicalExpensesLOV" [ngValue]="medicalExpenses.value">
                        {{ medicalExpenses.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['medicalExpenses'].errors?.required">
                      * medical expenses coverage is required
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">Print Qoute</button>
            <button type="button" class="btn btn-primary"
              (click)="issueQuote(travelDetails, groupPolicy, traveller)">Issue Qoute</button>
            <button type="button" class="btn btn-primary">Proceed to Issuance</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quickQuotationTravel -->
