<div class="row" id="quickQuotationTravel">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Travel</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">

        <div class="alert alert-info note">
          <p><strong>Important Reminder:</strong> All the amounts shown on the product comparison table are only
            estimates and must not be taken as the actual premiums of the products.
          </p>
        </div>
        <!-- .note -->

        <form [formGroup]="quickQuoteForm" class="quick-quote-form">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['currency'].invalid 
                && (quickQuoteForm.controls['currency'].dirty 
                || quickQuoteForm.controls['currency'].touched)}">
                <label for="currency">Currency</label>
                <select class="custom-select mr-sm-2 required" formControlName="currency"
                  [(ngModel)]="travelDetails.currency" (change)="currencyOnchange()">
                  <option selected></option>
                  <option *ngFor="let currency of LOV.currencyLOV" [ngValue]="currency.COD_MON">{{ currency.NOM_MON }}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['currency'].errors?.required">
                  * currency is required
                </p>
              </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['country'].invalid 
                  && (quickQuoteForm.controls['country'].dirty 
                  || quickQuoteForm.controls['country'].touched)}">
                <label for="country">Itinerary</label>
                <ng-select [items]="LOV.countryLOV" bindLabel="name" placeholder="Select Country to visit"
                  appendTo="body" formControlName="country" multiple="true" [(ngModel)]="travelDetails.country">
                </ng-select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['country'].errors?.required">
                  * country is required
                </p>
              </div>
            </div>

            <div class="form-divider"></div>
            <div class="col-xl-12">
              <h6>Travel Information</h6>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['travelPackage'].invalid 
                && (quickQuoteForm.controls['travelPackage'].dirty 
                || quickQuoteForm.controls['travelPackage'].touched)}">
                <label for="travelPackage">Travel Package</label>
                <select class="custom-select mr-sm-2 required" formControlName="travelPackage"
                  [(ngModel)]="travelDetails.travelPackage" [attr.disabled]="true">
                  <option selected></option>
                  <option *ngFor="let package of LOV.packageLOV" [ngValue]="package.TRAVEL_PACK">{{ package.NOM_VALOR }}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['travelPackage'].errors?.required">
                  * travel package is required
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['typeOfCoverage'].invalid 
                && (quickQuoteForm.controls['typeOfCoverage'].dirty 
                || quickQuoteForm.controls['typeOfCoverage'].touched)}">
                <label for="typeOfCoverage">Type of Coverage</label>
                <select class="custom-select mr-sm-2 required" formControlName="typeOfCoverage"
                  [(ngModel)]="travelDetails.typeOfCoverage">
                  <option selected></option>
                  <option *ngFor="let coverage of LOV.coverageLOV" [ngValue]="coverage.INSURANCE_COVERAGE">
                    {{ coverage.NOM_VALOR }}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['typeOfCoverage'].errors?.required">
                  * type of coverage is required
                </p>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['purposeTrip'].invalid 
                && (quickQuoteForm.controls['purposeTrip'].dirty 
                || quickQuoteForm.controls['purposeTrip'].touched)}">
                <label for="purposeTrip">Purpose of Trip</label>
                <select class="custom-select mr-sm-2 required" formControlName="purposeTrip"
                  [(ngModel)]="travelDetails.purposeTrip">
                  <option selected></option>
                  <option *ngFor="let purposeTrip of LOV.purposeOfTripLOV" [ngValue]="purposeTrip.COD_BUSINESS">
                    {{ purposeTrip.NOM_BUSINESS }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['purposeTrip'].errors?.required">
                  * purpose of trip is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['startDate'].invalid 
                && (quickQuoteForm.controls['startDate'].dirty 
                || quickQuoteForm.controls['startDate'].touched)}">
                <label for="startDate">Start Date</label>
                <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="mindate"
                  formControlName="startDate" [(ngModel)]="travelDetails.startDate" bsDatepicker>
                <p class="form-error" *ngIf="quickQuoteForm.controls['startDate'].errors?.required">
                  * start date is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['endDate'].invalid 
                && (quickQuoteForm.controls['endDate'].dirty 
                || quickQuoteForm.controls['endDate'].touched)}">
                <label for="endDate">End Date</label>
                <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="endDateMinDate"
                  formControlName="endDate" [(ngModel)]="travelDetails.endDate" bsDatepicker
                  [attr.disabled]="enableEndDate ? null : ''">
                <p class="form-error" *ngIf="quickQuoteForm.controls['endDate'].errors?.required">
                  * end date is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['noOfDays'].invalid 
                && (quickQuoteForm.controls['noOfDays'].dirty 
                || quickQuoteForm.controls['noOfDays'].touched)}">
                <label for="noOfDays">No. of Days</label>
                <input class="form-control required" id="noOfDays" formControlName="noOfDays"
                  [(ngModel)]="travelDetails.noOfDays" [attr.disabled]="true">
                <p class="form-error" *ngIf="quickQuoteForm.controls['noOfDays'].errors?.required">
                  * number of days is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['ageRange'].invalid 
                && (quickQuoteForm.controls['ageRange'].dirty 
                || quickQuoteForm.controls['ageRange'].touched)}">
                <label for="ageRange">Select the range of the eldest insured from the list</label>
                <select class="custom-select mr-sm-2 required" formControlName="ageRange"
                  [(ngModel)]="travelDetails.ageRange">
                  <option selected></option>
                  <option *ngFor="let ageRange of LOV.ageRangeLOV" [ngValue]="ageRange.AGE_RANGE">
                    {{ ageRange.NOM_VALOR }}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['ageRange'].errors?.required">
                  * age range is required
                </p>
              </div>
            </div>

          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid" type="button" class="btn btn-primary"
              (click)="quickQuote(travelDetails)">Generate</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12" id="productComparison">
    <div class="product-comparison" *ngIf="showProductComparison">
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <img class="product-img-banner" src="./assets/images/product-travel.png" alt="product-travel" />
            </div>
            <div class="col-lg-12">
              <div class="flexitable">
                <table mat-table [dataSource]="travelData" matSort class="mat-elevation-z8">

                  <!-- Position Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>Limit</th>
                    <td mat-cell *matCellDef="let element">{{element.label}}</td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="complete">
                    <th mat-header-cell *matHeaderCellDef class="amount">Travel Complete</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.complete == null ? 'n/a' : element.complete | currency: element.currency: 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="personalAssistance">
                    <th mat-header-cell *matHeaderCellDef class="amount">Travel Assist with Personal Assistance</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.personalAssistance == null ? 'n/a' : element.personalAssistance | currency: element.currency: 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="assist">
                    <th mat-header-cell *matHeaderCellDef class="amount">Travel Assist Only</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.assist == null ? 'n/a' : element.assist | currency: element.currency: 'symbol-narrow' }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="generateCoverage(row)"
                    matTooltip="click to show product coverage"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card  -->

      <div id="productCoverage">
        <div class="card shadow mb-3" *ngIf="showProductCoverage">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <img class="product-img-banner" src="./assets/images/product-coverage.png" alt="product-coverage" />
              </div>
              <div class="col-lg-12">
                <div class="flexitable">
                  <table mat-table [dataSource]="coverageData" matSort class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="label">
                      <th mat-header-cell *matHeaderCellDef>Limit</th>
                      <td mat-cell *matCellDef="let element" [innerHTML]="element.label"></td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="complete">
                      <th mat-header-cell *matHeaderCellDef class="amount">Travel Complete</th>
                      <td mat-cell *matCellDef="let element" class="amount">
                        {{element.isHeader && (element.code != '330' && element.code != '332') ? '' : element.complete == null ? 'n/a' : element.complete == 0 ? element.isHeader ? '' : 'actual cost' : element.complete | currency: element.currency: 'symbol-narrow'}}
                      </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="personalAssistance">
                      <th mat-header-cell *matHeaderCellDef class="amount">Travel Assist with Personal Assistance</th>
                      <td mat-cell *matCellDef="let element" class="amount">
                        {{element.isHeader && (element.code != '330' && element.code != '332') ? '' : element.personalAssistance == null ? 'n/a' : element.personalAssistance == 0 ? element.isHeader ? '' : 'actual cost' : element.personalAssistance | currency: element.currency: 'symbol-narrow'}}
                      </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="assist">
                      <th mat-header-cell *matHeaderCellDef class="amount">Travel Assist Only</th>
                      <td mat-cell *matCellDef="let element" class="amount">
                        {{element.isHeader && (element.code != '330' && element.code != '332') ? '' : element.assist == null ? 'n/a' : element.assist == 0 ? element.isHeader ? '' : 'actual cost' : element.assist | currency: element.currency: 'symbol-narrow' }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </table>
                </div>
              </div>
              <!-- .col-xl-12 -->
            </div>
            <!-- .row -->
          </div>
          <!-- .card-body -->
        </div>
        <!-- .card  -->
      </div>
      <!-- #productCoverage -->

    </div>
    <!-- .showProductComparison -->

  </div>
  <!-- #quickQuotationTravel -->
