<div class="row" id="quickQuotationTravel">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Travel</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quickQuoteForm" class="quick-quote-form">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickCurrency'].invalid 
                    && (quickQuoteForm.controls['quickCurrency'].dirty 
                    || quickQuoteForm.controls['quickCurrency'].touched)}">
                <label for="quickCurrency">Currency</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickCurrency"
                  [(ngModel)]="travelDetails.currency">
                  <option selected></option>
                  <option *ngFor="let currency of currencyLOV" [ngValue]="currency.value">{{ currency.name }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickCurrency'].errors?.required">
                  * currency is required
                </p>
              </div>
            </div>
            <div class="form-divider"></div>
            <div class="col-xl-12">
              <h6>Itinerary</h6>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">
              <label class="form-check-label" for="quickCbCountry6">
                Select Country to visit
              </label>

              <ng-multiselect-dropdown [placeholder]="'choose country'" 
                formControlName="quickCountry"
                [data]="countryLOV" [(ngModel)]="travelDetails.country"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>

            <div class="form-divider"></div>
            <div class="col-xl-12">
              <h6>Travel Information</h6>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickPackage'].invalid 
                  && (quickQuoteForm.controls['quickPackage'].dirty 
                  || quickQuoteForm.controls['quickPackage'].touched)}">
                <label for="quickPackage">Travel Package</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickPackage"
                  [(ngModel)]="travelDetails.package">
                  <option selected></option>
                  <option *ngFor="let package of packageLOV" [ngValue]="package.name">{{ package.value }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickPackage'].errors?.required">
                  * travel package is required
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickCoverage'].invalid 
                    && (quickQuoteForm.controls['quickCoverage'].dirty 
                    || quickQuoteForm.controls['quickCoverage'].touched)}">
                <label for="quickCoverage">Type of Coverage</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickCoverage"
                  [(ngModel)]="travelDetails.coverage">
                  <option selected></option>
                  <option *ngFor="let coverage of coverageLOV" [ngValue]="coverage.name">{{ coverage.value }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickCoverage'].errors?.required">
                  * type of coverage is required
                </p>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickPurposeTrip'].invalid 
                      && (quickQuoteForm.controls['quickPurposeTrip'].dirty 
                      || quickQuoteForm.controls['quickPurposeTrip'].touched)}">
                <label for="quickPurposeTrip">Purpose of Trip</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickPurposeTrip"
                  [(ngModel)]="travelDetails.purposeTrip">
                  <option selected></option>
                  <option *ngFor="let purposeTrip of purposeTripLOV" [ngValue]="purposeTrip.name">
                    {{ purposeTrip.value }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickPurposeTrip'].errors?.required">
                  * purpose of trip is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickStartDate'].invalid 
                    && (quickQuoteForm.controls['quickStartDate'].dirty 
                    || quickQuoteForm.controls['quickStartDate'].touched)}">
                <label for="quickStartDate">Start Date</label>
                <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="mindate"
                  formControlName="quickStartDate" [(ngModel)]="travelDetails.startDate" bsDatepicker>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickStartDate'].errors?.required">
                  * start date is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickEndDate'].invalid 
                    && (quickQuoteForm.controls['quickEndDate'].dirty 
                    || quickQuoteForm.controls['quickEndDate'].touched)}">
                <label for="quickEndDate">End Date</label>
                <input type="text" placeholder="Datepicker" class="form-control required"
                  [minDate]="travelDetails.startDate" formControlName="quickEndDate" [(ngModel)]="travelDetails.endDate"
                  bsDatepicker [attr.disabled]="enableEndDate ? null : ''">
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickEndDate'].errors?.required">
                  * end date is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickNoOfDays'].invalid 
                    && (quickQuoteForm.controls['quickNoOfDays'].dirty 
                    || quickQuoteForm.controls['quickNoOfDays'].touched)}">
                <label for="quickNoOfDays">No. of Days</label>
                <input class="form-control required" id="quickNoOfDays" formControlName="quickNoOfDays"
                  [(ngModel)]="travelDetails.noOfDays" [attr.disabled]="true">
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickNoOfDays'].errors?.required">
                  * number of days is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickAgeRange'].invalid 
                    && (quickQuoteForm.controls['quickAgeRange'].dirty 
                    || quickQuoteForm.controls['quickAgeRange'].touched)}">
                <label for="quickAgeRange">Select the range of the eldest insured from the list</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickAgeRange"
                  [(ngModel)]="travelDetails.ageRange">
                  <option selected></option>
                  <option *ngFor="let ageRange of ageRangeLOV" [ngValue]="ageRange.name">{{ ageRange.value }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickAgeRange'].errors?.required">
                  * age range is required
                </p>
              </div>
            </div>

          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid" type="button" class="btn btn-primary"
              (click)="quickQuote(travelDetails)">Generate</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quickQuotationTravel -->
