<div class="row" id="quickQuotationHome">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Home</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quickQuoteForm" class="quick-quote-form">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['subline'].invalid 
                  && (quickQuoteForm.controls['subline'].dirty 
                  || quickQuoteForm.controls['subline'].touched)}">
                <label for="subline">Subline</label>
                <select class="custom-select mr-sm-2 required" formControlName="subline"
                  [(ngModel)]="homeDetails.subline">
                  <option selected></option>
                  <option *ngFor="let subline of LOV.sublineLOV" [ngValue]="subline.name">{{ subline.value }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['subline'].errors?.required">
                  * subline is required
                </p>
              </div>
            </div>

            <div class="form-divider"></div>
            <div class="col-xl-12">
              <h6>Coverage</h6>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbBuilding" formControlName="cbBuilding"
                  [(ngModel)]="homeDetails.cbBuilding">
                <label class="form-check-label" for="cbBuilding">
                  Building
                </label>
              </div>
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['building'].invalid 
                && (quickQuoteForm.controls['building'].dirty 
                || quickQuoteForm.controls['building'].touched)}">
                <input class="form-control required" [attr.disabled]="homeDetails.cbBuilding ? null : ''" type="text"
                  id="building" formControlName="building" [(ngModel)]="homeDetails.building">
                <p class="form-error" *ngIf="quickQuoteForm.controls['building'].errors?.required">
                  * building is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbContent" formControlName="cbContent"
                  [(ngModel)]="homeDetails.cbContent">
                <label class="form-check-label" for="cbContent">
                  Content
                </label>
              </div>
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['content'].invalid 
                && (quickQuoteForm.controls['content'].dirty 
                || quickQuoteForm.controls['content'].touched)}">
                <input class="form-control required" [attr.disabled]="homeDetails.cbContent ? null : ''" type="text"
                  id="content" formControlName="content" [(ngModel)]="homeDetails.content">
                <p class="form-error" *ngIf="quickQuoteForm.controls['content'].errors?.required">
                  * content is required
                </p>
              </div>
            </div>

            <div class="form-divider"></div>
            <div class="col-xl-12">
              <h6>Content</h6>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-check">
                <input class="form-check-input"
                  [attr.disabled]="homeDetails.cbBuilding || homeDetails.cbContent ? null : ''" type="checkbox"
                  id="cbImprovements" formControlName="cbImprovements" [(ngModel)]="homeDetails.cbImprovements">
                <label class="form-check-label" for="cbImprovements">
                  Improvements
                </label>
              </div>
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['improvements'].invalid 
                && (quickQuoteForm.controls['improvements'].dirty 
                || quickQuoteForm.controls['improvements'].touched)}">
                <input class="form-control required"
                  [attr.disabled]="(homeDetails.cbBuilding || homeDetails.cbContent) && homeDetails.cbImprovements ? null : ''"
                  type="text" id="improvements" formControlName="improvements" [(ngModel)]="homeDetails.improvements">
                <p class="form-error" *ngIf="quickQuoteForm.controls['improvements'].errors?.required">
                  * improvements is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-check">
                <input class="form-check-input"
                  [attr.disabled]="homeDetails.cbBuilding || homeDetails.cbContent ? null : ''" type="checkbox"
                  id="cbRelatedBuild" formControlName="cbRelatedBuild" [(ngModel)]="homeDetails.cbRelatedBuild">
                <label class="form-check-label" for="cbRelatedBuild">
                  Other Related Build
                </label>
              </div>
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['relatedBuild'].invalid 
                && (quickQuoteForm.controls['relatedBuild'].dirty 
                || quickQuoteForm.controls['relatedBuild'].touched)}">
                <input class="form-control required"
                  [attr.disabled]="(homeDetails.cbBuilding || homeDetails.cbContent) && homeDetails.cbRelatedBuild ? null : ''"
                  type="text" id="relatedBuild" formControlName="relatedBuild" [(ngModel)]="homeDetails.relatedBuild">
                <p class="form-error" *ngIf="quickQuoteForm.controls['relatedBuild'].errors?.required">
                  * related build is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-check">
                <input class="form-check-input"
                  [attr.disabled]="homeDetails.cbBuilding || homeDetails.cbContent ? null : ''" type="checkbox"
                  id="cbRelatedContent" formControlName="cbRelatedContent" [(ngModel)]="homeDetails.cbRelatedContent">
                <label class="form-check-label" for="cbRelatedContent">
                  Other Related Content
                </label>
              </div>
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['relatedContent'].invalid 
                && (quickQuoteForm.controls['relatedContent'].dirty 
                || quickQuoteForm.controls['relatedContent'].touched)}">
                <input class="form-control required"
                  [attr.disabled]="(homeDetails.cbBuilding || homeDetails.cbContent) && homeDetails.cbRelatedContent ? null : ''"
                  type="text" id="relatedContent" formControlName="relatedContent"
                  [(ngModel)]="homeDetails.relatedContent">
                <p class="form-error" *ngIf="quickQuoteForm.controls['relatedContent'].errors?.required">
                  * related content is required
                </p>
              </div>
            </div>

          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid" type="button" class="btn btn-primary"
              (click)="quickQuote(homeDetails)">Generate</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->


  <div class="col-xl-12">
    <!-- <div *ngIf="showProductComparison"> -->
    <div class="product-comparison">
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <img class="product-img-banner" src="./assets/images/product-home.png" alt="product-home" />
            </div>
            <div class="col-lg-12">
              <div class="flexitable">
                <table mat-table [dataSource]="annualData" matSort class="mat-elevation-z8">

                  <!-- Position Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>Payment</th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Fire</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Earth </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Water </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card  -->

      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <img class="payment-img-banner" src="./assets/images/product-payment.png" alt="product-payment" />
            </div>
            <div class="col-lg-12">
              <div class="flexitable">

                <table mat-table [dataSource]="plan30Data" matSort class="mat-elevation-z8">

                  <!-- Position Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>
                      <h6>PLAN 30</h6>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Fire</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Earth </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Water </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->

            <div class="col-lg-12">
              <div class="flexitable">

                <table mat-table [dataSource]="plan60Data" matSort class="mat-elevation-z8">

                  <!-- Position Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>
                      <h6>PLAN 60</h6>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Fire</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Earth </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Water </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->

            <div class="col-lg-12">
              <div class="flexitable">
                <table mat-table [dataSource]="plan90Data" matSort class="mat-elevation-z8">

                  <!-- Position Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>
                      <h6>PLAN 90</h6>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Fire</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Earth </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Water </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->
          </div>
        </div>
      </div>
    </div>
    <!-- .showProductComparison -->

</div>
<!-- #quickQuotationHome -->
