<div class="row" id="quotationHome">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quotation - Home</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quoteForm" class="regular-quote-form">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Risk Details</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['make'].invalid 
                    && (quoteForm.controls['make'].dirty 
                    || quoteForm.controls['make'].touched)}">
                    <label for="make">Business Line</label>
                    <select class="custom-select mr-sm-2 required" formControlName="make" (change)="makeOnchange()"
                      [(ngModel)]="carDetails.make">
                      <option *ngFor="let make of makeLOV" [ngValue]="make.COD_MARCA">{{ make.NOM_MARCA }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['make'].errors?.required">
                      * make is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['model'].invalid 
                  && (quoteForm.controls['model'].dirty 
                  || quoteForm.controls['model'].touched)}">
                    <label for="model">Currency</label>
                    <select class="custom-select mr-sm-2 required" formControlName="model" (change)="modelOnchange()"
                      [(ngModel)]="carDetails.model" [attr.disabled]=" modelLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let model of modelLOV" [ngValue]="model.COD_MODELO">{{ model.NOM_MODELO }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['model'].errors?.required">
                      * model is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Location of Risk</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">House/Building Name</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue">
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Village/Subdivision</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue">
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Building Name</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue">
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Street Name</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue">
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Barangay</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue">
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleType'].invalid 
                  && (quoteForm.controls['vehicleType'].dirty 
                  || quoteForm.controls['vehicleType'].touched)}">
                    <label for="vehicleType">Region</label>
                    <select class="custom-select mr-sm-2 required" formControlName="vehicleType"
                      (change)="vehicleTypeOnchange()" [(ngModel)]="carDetails.vehicleType"
                      [attr.disabled]=" vehicleTypeLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let vehicleType of vehicleTypeLOV" [ngValue]="vehicleType.COD_TIP_VEHI">
                        {{ vehicleType.NOM_TIP_VEHI }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleType'].errors?.required">
                      * vehicle type is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['modelYear'].invalid 
                  && (quoteForm.controls['modelYear'].dirty 
                  || quoteForm.controls['modelYear'].touched)}">
                    <label for="modelYear">Province</label>
                    <select class="custom-select mr-sm-2 required" formControlName="modelYear"
                      (change)="modelYearOnchange()" [(ngModel)]="carDetails.modelYear"
                      [attr.disabled]=" modelYearLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let modelYear of modelYearLOV" [ngValue]="modelYear.ANIO_SUB_MODELO">
                        {{ modelYear.ANIO_SUB_MODELO }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['modelYear'].errors?.required">
                      * model year is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subModel'].invalid 
                  && (quoteForm.controls['subModel'].dirty 
                  || quoteForm.controls['subModel'].touched)}">
                    <label for="subModel">Municipality</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subModel"
                      (change)="subModelOnchange()" [(ngModel)]="carDetails.subModel"
                      [attr.disabled]=" subModelLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let subModel of subModelLOV" [ngValue]="subModel.COD_SUB_MODELO">
                        {{subModel.NOM_SUB_MODELO + '('+ subModel.TIP_CAJA_CAMBIO+ ') '+ (subModel.NOM_TRACCION == 'UNKNOWN' ? "": subModel.NOM_TRACCION)}}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subModel'].errors?.required">
                      * sub model is required
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Building / Content Details</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Building/Content</h6>
                </div>
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Building Capital</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue">
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Content Value</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue">
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
  
                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Additional Details</h6>
                </div>
  
                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Construction of Building</label>
                    <textarea type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
  
                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Occupancy of Building</label>
                    <textarea type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
  
                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Boundaries</h6>
                </div>
  
                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Front</label>
                    <textarea type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
  
                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Right</label>
                    <textarea type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
  
                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Left</label>
                    <textarea type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
  
                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Rear</label>
                    <textarea type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Policy Holder Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Policy Holder</h6>
                </div>

                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['clientName'].invalid 
                  && (quoteForm.controls['clientName'].dirty 
                  || quoteForm.controls['clientName'].touched)}">
                    <label for="clientName">Client's Name</label>
                    <input type="text" formControlName="clientName" class="form-control required"
                      [(ngModel)]="carDetails.clientName">
                    <p class="form-error" *ngIf="quoteForm.controls['clientName'].errors?.required">
                      * client's name is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>General Information</strong>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Group Policy</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['groupPolicy'].invalid 
                    && (quoteForm.controls['groupPolicy'].dirty 
                    || quoteForm.controls['groupPolicy'].touched)}">
                    <label for="groupPolicy">Group Policy</label>
                    <select class="custom-select mr-sm-2 required" formControlName="groupPolicy"
                      [(ngModel)]="carDetails.groupPolicy">
                      <option *ngFor="let groupPolicy of groupPolicyLOV" [ngValue]="groupPolicy.value">
                        {{ groupPolicy.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['groupPolicy'].errors?.required">
                      * group policy is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['contract'].invalid 
                    && (quoteForm.controls['contract'].dirty 
                    || quoteForm.controls['contract'].touched)}">
                    <label for="contract">Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="contract"
                      [(ngModel)]="carDetails.contract">
                      <option *ngFor="let contract of contractLOV" [ngValue]="contract.value">{{ contract.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['contract'].errors?.required">
                      * contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subContract'].invalid 
                    && (quoteForm.controls['subContract'].dirty 
                    || quoteForm.controls['subContract'].touched)}">
                    <label for="subContract">Sub Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subContract"
                      [(ngModel)]="carDetails.subContract">
                      <option *ngFor="let subContract of subContractLOV" [ngValue]="subContract.value">
                        {{ subContract.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subContract'].errors?.required">
                      * sub contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['commercialStructure'].invalid 
                    && (quoteForm.controls['commercialStructure'].dirty 
                    || quoteForm.controls['commercialStructure'].touched)}">
                    <label for="commercialStructure">Commercial Structure</label>
                    <select class="custom-select mr-sm-2 required" formControlName="commercialStructure"
                      [(ngModel)]="carDetails.commercialStructure">
                      <option *ngFor="let commercialStructure of commercialStructureLOV"
                        [ngValue]="commercialStructure.value">{{ areaOfUsage.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['commercialStructure'].errors?.required">
                      * commercial structure is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['agentCode'].invalid 
                  && (quoteForm.controls['agentCode'].dirty 
                  || quoteForm.controls['agentCode'].touched)}">
                    <label for="agentCode">Agent Code</label>
                    <input type="text" formControlName="agentCode" class="form-control required"
                      [(ngModel)]="carDetails.agentCode">
                    <p class="form-error" *ngIf="quoteForm.controls['agentCode'].errors?.required">
                      * agent code is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Movement Dates</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['effectivityDate'].invalid 
                      && (quoteForm.controls['effectivityDate'].dirty 
                      || quoteForm.controls['effectivityDate'].touched)}">
                    <label for="effectivityDate">Effectivity Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="mindate"
                      formControlName="effectivityDate" [(ngModel)]="carDetails.effectivityDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['effectivityDate'].errors?.required">
                      * effectivity date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['expiryDate'].invalid 
                      && (quoteForm.controls['expiryDate'].dirty 
                      || quoteForm.controls['expiryDate'].touched)}">
                    <label for="expiryDate">Expiry Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="mindate"
                      formControlName="expiryDate" [(ngModel)]="carDetails.expiryDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['expiryDate'].errors?.required">
                      * expiry date is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Product Data</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['paymentMethod'].invalid 
                    && (quoteForm.controls['paymentMethod'].dirty 
                    || quoteForm.controls['paymentMethod'].touched)}">
                    <label for="paymentMethod">Payment Method</label>
                    <select class="custom-select mr-sm-2 required" formControlName="paymentMethod"
                      [(ngModel)]="carDetails.paymentMethod">
                      <option *ngFor="let paymentMethod of paymentMethodLOV" [ngValue]="paymentMethod.value">
                        {{ paymentMethod.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['paymentMethod'].errors?.required">
                      * payment method is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['product'].invalid 
                    && (quoteForm.controls['product'].dirty 
                    || quoteForm.controls['product'].touched)}">
                    <label for="product">Product List</label>
                    <select class="custom-select mr-sm-2 required" formControlName="product"
                      [(ngModel)]="carDetails.product">
                      <option *ngFor="let product of productListLOV" [ngValue]="product.value">{{ product.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['product'].errors?.required">
                      * product list is required
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">Print Qoute</button>
            <button type="button" class="btn btn-primary">Issue Qoute</button>
            <button type="button" class="btn btn-primary">Proceed to Issuance</button>
          </div>

        </form>
        <!-- .regular-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quotationHome -->
