<div class="row" id="quotationHome">
    <div class="col-xl-12">
      <div class="page-header">
        <h4>Quotation - Home</h4>
      </div>
      <!-- .page-header -->
    </div>
    <!-- .col-xl-12 -->
  
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4 col-md-8 col-sm-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="custom-select">Options</label>
                </div>
  
                <select class="custom-select mr-sm-2 required" (change)="setOption($event.target.value)">
                  <option selected></option>
                  <option value="quick">Quick</option>
                  <option value="regular">Regular</option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="clearfix"></div>
          <form [formGroup]="quickQuoteForm" class="quick-quote-form" *ngIf="option === 'quick'">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickSubline'].invalid 
                  && (quickQuoteForm.controls['quickSubline'].dirty 
                  || quickQuoteForm.controls['quickSubline'].touched)}">
                  <label for="quickSubline">Subline</label>
                  <select
                    class="custom-select mr-sm-2 required"
                    formControlName="quickSubline"
                    [(ngModel)]="homeDetails.subline">
                    <option selected></option>
                    <option *ngFor="let subline of sublineLOV" [ngValue]="subline.name">{{ subline.value }}</option>
                  </select>
                  <p class="form-error" *ngIf="quickQuoteForm.controls['quickSubline'].errors?.required">
                    * subline is required
                  </p>
                </div>
              </div>
              <div class="form-divider"></div>
              <div class="col-xl-12">
                <h6>Coverage</h6>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-check">
                    <input class="form-check-input"
                        type="checkbox"
                        id="quickCbBuilding"
                        formControlName="quickCbBuilding"
                        [(ngModel)]="homeDetails.cbBuilding">
                    <label class="form-check-label" for="quickCbBuilding">
                        Building
                    </label>
                </div>
                <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickBuilding'].invalid 
                  && (quickQuoteForm.controls['quickBuilding'].dirty 
                  || quickQuoteForm.controls['quickBuilding'].touched)}">
                  <input class="form-control required"
                    [attr.disabled]="homeDetails.cbBuilding ? null : ''"
                    type="text"
                    id="quickBuilding"
                    formControlName="quickBuilding"
                    [(ngModel)]="homeDetails.building">
                  <p class="form-error" *ngIf="quickQuoteForm.controls['quickBuilding'].errors?.required">
                    * building is required
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-check">
                    <input class="form-check-input"
                        type="checkbox"
                        id="quickCbContent"
                        formControlName="quickCbContent"
                        [(ngModel)]="homeDetails.cbContent">
                    <label class="form-check-label" for="quickCbContent">
                        Content
                    </label>
                </div>
                <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickContent'].invalid 
                  && (quickQuoteForm.controls['quickContent'].dirty 
                  || quickQuoteForm.controls['quickContent'].touched)}">
                  <input class="form-control required"
                    [attr.disabled]="homeDetails.cbContent ? null : ''"
                    type="text"
                    id="quickContent"
                    formControlName="quickContent"
                    [(ngModel)]="homeDetails.content">
                  <p class="form-error" *ngIf="quickQuoteForm.controls['quickContent'].errors?.required">
                    * content is required
                  </p>
                </div>
              </div>
              <div class="form-divider"></div>
              <div class="col-xl-12">
                <h6>Content</h6>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-check">
                    <input class="form-check-input"
                        [attr.disabled]="homeDetails.cbBuilding || homeDetails.cbContent ? null : ''"
                        type="checkbox"
                        id="quickCbImprovements"
                        formControlName="quickCbImprovements"
                        [(ngModel)]="homeDetails.cbImprovements">
                    <label class="form-check-label" for="quickCbImprovements">
                        Improvements
                    </label>
                </div>
                <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickImprovements'].invalid 
                  && (quickQuoteForm.controls['quickImprovements'].dirty 
                  || quickQuoteForm.controls['quickImprovements'].touched)}">
                  <input class="form-control required"
                    [attr.disabled]="(homeDetails.cbBuilding || homeDetails.cbContent) && homeDetails.cbImprovements ? null : ''"
                    type="text"
                    id="quickImprovements"
                    formControlName="quickImprovements"
                    [(ngModel)]="homeDetails.improvements">
                  <p class="form-error" *ngIf="quickQuoteForm.controls['quickImprovements'].errors?.required">
                    * improvements is required
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-check">
                    <input class="form-check-input"
                        [attr.disabled]="homeDetails.cbBuilding || homeDetails.cbContent ? null : ''"
                        type="checkbox"
                        id="quickCbRelatedBuild"
                        formControlName="quickCbRelatedBuild"
                        [(ngModel)]="homeDetails.cbRelatedBuild">
                    <label class="form-check-label" for="quickCbRelatedBuild">
                        Other Related Build
                    </label>
                </div>
                <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickRelatedBuild'].invalid 
                  && (quickQuoteForm.controls['quickRelatedBuild'].dirty 
                  || quickQuoteForm.controls['quickRelatedBuild'].touched)}">
                  <input class="form-control required"
                    [attr.disabled]="(homeDetails.cbBuilding || homeDetails.cbContent) && homeDetails.cbRelatedBuild ? null : ''"
                    type="text"
                    id="quickRelatedBuild"
                    formControlName="quickRelatedBuild"
                    [(ngModel)]="homeDetails.relatedBuild">
                  <p class="form-error" *ngIf="quickQuoteForm.controls['quickRelatedBuild'].errors?.required">
                    * related build is required
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="form-check">
                    <input class="form-check-input"
                        [attr.disabled]="homeDetails.cbBuilding || homeDetails.cbContent ? null : ''"
                        type="checkbox"
                        id="quickCbRelatedContent"
                        formControlName="quickCbRelatedContent"
                        [(ngModel)]="homeDetails.cbRelatedContent">
                    <label class="form-check-label" for="quickCbRelatedContent">
                        Other Related Content
                    </label>
                </div>
                <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickRelatedContent'].invalid 
                  && (quickQuoteForm.controls['quickRelatedContent'].dirty 
                  || quickQuoteForm.controls['quickRelatedContent'].touched)}">
                  <input class="form-control required"
                    [attr.disabled]="(homeDetails.cbBuilding || homeDetails.cbContent) && homeDetails.cbRelatedContent ? null : ''"
                    type="text"
                    id="quickRelatedContent"
                    formControlName="quickRelatedContent"
                    [(ngModel)]="homeDetails.relatedContent">
                  <p class="form-error" *ngIf="quickQuoteForm.controls['quickRelatedContent'].errors?.required">
                    * related content is required
                  </p>
                </div>
              </div>

            </div>
  
            <div class="btn-group" role="group">
              <button
                [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid"
                type="button"
                class="btn btn-primary"
                (click)="quickQuote(homeDetails)">Generate</button>
            </div>
  
            <div class="clearfix"></div>
  
          </form>
          <!-- .quick-quote-form -->
  
          <form class="regular-quote-form" *ngIf="option === 'regular'">
           
          </form>
          <!-- .regular-quote-form -->
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card.shadow -->
    </div>
    <!-- .col-xl-12 -->
  </div>
  <!-- #quotationHome -->
  