<div class="row" id="quotationHome">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quotation - Home</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quoteForm" class="regular-quote-form">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Risk Details</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['businessLine'].invalid 
                    && (quoteForm.controls['businessLine'].dirty 
                    || quoteForm.controls['businessLine'].touched)}">
                    <label for="businessLine">Business Line</label>
                    <select class="custom-select mr-sm-2 required" formControlName="businessLine"
                      [(ngModel)]="homeDetails.businessLine">
                      <option *ngFor="let businessLine of LOV.sublineLOV" [ngValue]="businessLine.value">
                        {{ businessLine.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['businessLine'].errors?.required">
                      * business line is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['currency'].invalid 
                  && (quoteForm.controls['currency'].dirty 
                  || quoteForm.controls['currency'].touched)}">
                    <label for="currency">Currency</label>
                    <select class="custom-select mr-sm-2 required" formControlName="currency"
                      [(ngModel)]="homeDetails.currency">
                      <option selected></option>
                      <option *ngFor="let currency of LOV.currencyLOV" [ngValue]="currency.value">{{ currency.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['currency'].errors?.required">
                      * currency is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Location of Risk</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['buildingNumber'].invalid 
                  && (quoteForm.controls['buildingNumber'].dirty 
                  || quoteForm.controls['buildingNumber'].touched)}">
                    <label for="buildingNumber">House/Building Number</label>
                    <input type="text" formControlName="buildingNumber" class="form-control"
                      [(ngModel)]="homeDetails.buildingNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['buildingNumber'].errors?.required">
                      * building number is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subdivision'].invalid 
                  && (quoteForm.controls['subdivision'].dirty 
                  || quoteForm.controls['subdivision'].touched)}">
                    <label for="subdivision">Village/Subdivision</label>
                    <input type="text" formControlName="subdivision" class="form-control"
                      [(ngModel)]="homeDetails.subdivision">
                    <p class="form-error" *ngIf="quoteForm.controls['subdivision'].errors?.required">
                      * subdivision is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['buildingName'].invalid 
                  && (quoteForm.controls['buildingName'].dirty 
                  || quoteForm.controls['buildingName'].touched)}">
                    <label for="buildingName">Building Name</label>
                    <input type="text" formControlName="buildingName" class="form-control"
                      [(ngModel)]="homeDetails.buildingName">
                    <p class="form-error" *ngIf="quoteForm.controls['buildingName'].errors?.required">
                      * building name is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['streetName'].invalid 
                  && (quoteForm.controls['streetName'].dirty 
                  || quoteForm.controls['streetName'].touched)}">
                    <label for="streetName">Street Name</label>
                    <input type="text" formControlName="streetName" class="form-control"
                      [(ngModel)]="homeDetails.streetName">
                    <p class="form-error" *ngIf="quoteForm.controls['streetName'].errors?.required">
                      * street name is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['barangay'].invalid 
                  && (quoteForm.controls['barangay'].dirty 
                  || quoteForm.controls['barangay'].touched)}">
                    <label for="barangay">Barangay</label>
                    <input type="text" formControlName="barangay" class="form-control"
                      [(ngModel)]="homeDetails.barangay">
                    <p class="form-error" *ngIf="quoteForm.controls['barangay'].errors?.required">
                      * barangay is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['region'].invalid 
                  && (quoteForm.controls['region'].dirty 
                  || quoteForm.controls['region'].touched)}">
                    <label for="region">Region</label>
                    <select class="custom-select mr-sm-2 required" formControlName="region"
                      [(ngModel)]="homeDetails.region">
                      <option selected></option>
                      <option *ngFor="let region of LOV.regionLOV" [ngValue]="region.value">
                        {{ region.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['region'].errors?.required">
                      * region is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['province'].invalid 
                  && (quoteForm.controls['province'].dirty 
                  || quoteForm.controls['province'].touched)}">
                    <label for="province">Province</label>
                    <select class="custom-select mr-sm-2 required" formControlName="province"
                      [(ngModel)]="homeDetails.province">
                      <option selected></option>
                      <option *ngFor="let province of LOV.provinceLOV" [ngValue]="province.value">
                        {{ province.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['province'].errors?.required">
                      * province is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['municipality'].invalid 
                  && (quoteForm.controls['municipality'].dirty 
                  || quoteForm.controls['municipality'].touched)}">
                    <label for="municipality">Municipality</label>
                    <select class="custom-select mr-sm-2 required" formControlName="municipality"
                      [(ngModel)]="homeDetails.municipality">
                      <option selected></option>
                      <option *ngFor="let municipality of LOV.municipalityLOV" [ngValue]="municipality.value">
                        {{ municipality.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['municipality'].errors?.required">
                      * municipality is required
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Building / Content Details</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Building/Content</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['buildingCapital'].invalid 
                  && (quoteForm.controls['buildingCapital'].dirty 
                  || quoteForm.controls['buildingCapital'].touched)}">
                    <label for="buildingCapital">Building Capital</label>
                    <input type="number" formControlName="buildingCapital" class="form-control required"
                      [(ngModel)]="homeDetails.buildingCapital">
                    <p class="form-error" *ngIf="quoteForm.controls['buildingCapital'].errors?.required">
                      * building capital is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['contentValue'].invalid 
                  && (quoteForm.controls['contentValue'].dirty 
                  || quoteForm.controls['contentValue'].touched)}">
                    <label for="contentValue">Content Value</label>
                    <input type="number" formControlName="contentValue" class="form-control required"
                      [(ngModel)]="homeDetails.contentValue">
                    <p class="form-error" *ngIf="quoteForm.controls['contentValue'].errors?.required">
                      * content value is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Additional Details</h6>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['constructionOfBuilding'].invalid 
                  && (quoteForm.controls['constructionOfBuilding'].dirty 
                  || quoteForm.controls['constructionOfBuilding'].touched)}">
                    <label for="constructionOfBuilding">Construction of Building</label>
                    <textarea type="text" formControlName="constructionOfBuilding" class="form-control required"
                      [(ngModel)]="homeDetails.constructionOfBuilding"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['constructionOfBuilding'].errors?.required">
                      * construction of building required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['occupancyOfBuilding'].invalid 
                  && (quoteForm.controls['occupancyOfBuilding'].dirty 
                  || quoteForm.controls['occupancyOfBuilding'].touched)}">
                    <label for="occupancyOfBuilding">Occupancy of Building</label>
                    <textarea type="text" formControlName="occupancyOfBuilding" class="form-control required"
                      [(ngModel)]="homeDetails.occupancyOfBuilding"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['occupancyOfBuilding'].errors?.required">
                      * occupancy of building is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Boundaries</h6>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['front'].invalid 
                  && (quoteForm.controls['front'].dirty 
                  || quoteForm.controls['front'].touched)}">
                    <label for="front">Front</label>
                    <textarea type="text" formControlName="front" class="form-control required"
                      [(ngModel)]="homeDetails.front"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['front'].errors?.required">
                      * front is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['right'].invalid 
                  && (quoteForm.controls['right'].dirty 
                  || quoteForm.controls['right'].touched)}">
                    <label for="right">Right</label>
                    <textarea type="text" formControlName="right" class="form-control required"
                      [(ngModel)]="homeDetails.right"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['right'].errors?.required">
                      * right is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['left'].invalid 
                  && (quoteForm.controls['left'].dirty 
                  || quoteForm.controls['left'].touched)}">
                    <label for="left">Left</label>
                    <textarea type="text" formControlName="left" class="form-control required"
                      [(ngModel)]="homeDetails.left"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['left'].errors?.required">
                      * left is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['rear'].invalid 
                  && (quoteForm.controls['rear'].dirty 
                  || quoteForm.controls['rear'].touched)}">
                    <label for="rear">Rear</label>
                    <textarea type="text" formControlName="rear" class="form-control required"
                      [(ngModel)]="homeDetails.rear"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['rear'].errors?.required">
                      * rear is required
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Policy Holder Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Policy Holder</h6>
                </div>

                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['clientName'].invalid 
                  && (quoteForm.controls['clientName'].dirty 
                  || quoteForm.controls['clientName'].touched)}">
                    <label for="clientName">Client's Name</label>
                    <input type="text" formControlName="clientName" class="form-control required"
                      [(ngModel)]="homeDetails.clientName">
                    <p class="form-error" *ngIf="quoteForm.controls['clientName'].errors?.required">
                      * client's name is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>General Information</strong>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Group Policy</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['groupPolicy'].invalid 
                        && (quoteForm.controls['groupPolicy'].dirty 
                        || quoteForm.controls['groupPolicy'].touched)}">
                    <label for="groupPolicy">Group Policy</label>
                    <select class="custom-select mr-sm-2" formControlName="groupPolicy"
                      [(ngModel)]="groupPolicy.groupPolicy">
                      <option></option>
                      <option *ngFor="let groupPolicy of GPLOV.groupPolicyLOV" [ngValue]="groupPolicy.value">
                        {{ groupPolicy.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['groupPolicy'].errors?.required">
                      * group policy is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['contract'].invalid 
                        && (quoteForm.controls['contract'].dirty 
                        || quoteForm.controls['contract'].touched)}">
                    <label for="contract">Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="contract"
                      [(ngModel)]="groupPolicy.contract" [attr.disabled]=" groupPolicy.groupPolicy ? null : true">
                      <option></option>
                      <option *ngFor="let contract of GPLOV.contractLOV" [ngValue]="contract.value">{{ contract.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['contract'].errors?.required">
                      * contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subContract'].invalid 
                        && (quoteForm.controls['subContract'].dirty 
                        || quoteForm.controls['subContract'].touched)}">
                    <label for="subContract">Sub Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subContract"
                      [(ngModel)]="groupPolicy.subContract" [attr.disabled]=" groupPolicy.groupPolicy ? null : true">
                      <option></option>
                      <option *ngFor="let subContract of GPLOV.subContractLOV" [ngValue]="subContract.value">
                        {{ subContract.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subContract'].errors?.required">
                      * sub contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['commercialStructure'].invalid 
                        && (quoteForm.controls['commercialStructure'].dirty 
                        || quoteForm.controls['commercialStructure'].touched)}">
                    <label for="commercialStructure">Commercial Structure</label>
                    <select class="custom-select mr-sm-2 required" formControlName="commercialStructure"
                      [(ngModel)]="groupPolicy.commercialStructure">
                      <option></option>
                      <option *ngFor="let commercialStructure of GPLOV.commercialStructureLOV"
                        [ngValue]="commercialStructure.value">{{ commercialStructure.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['commercialStructure'].errors?.required">
                      * commercial structure is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['agentCode'].invalid 
                      && (quoteForm.controls['agentCode'].dirty 
                      || quoteForm.controls['agentCode'].touched)}">
                    <label for="agentCode">Agent Code</label>
                    <input type="text" formControlName="agentCode" class="form-control required"
                      [(ngModel)]="groupPolicy.agentCode">
                    <p class="form-error" *ngIf="quoteForm.controls['agentCode'].errors?.required">
                      * agent code is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['expiringPolicyNumber'].invalid 
                      && (quoteForm.controls['expiringPolicyNumber'].dirty 
                      || quoteForm.controls['expiringPolicyNumber'].touched)}">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbIsRenewal" formControlName="cbIsRenewal"
                        [(ngModel)]="groupPolicy.cbIsRenewal">
                      <label class="form-check-label" for="cbIsRenewal">
                        Renewal
                      </label>
                    </div>
                    <label class="form-check-label" for="cbIsRenewal">
                      Expiring Policy Number
                    </label>
                    <input type="text" formControlName="expiringPolicyNumber"
                      [attr.disabled]="groupPolicy.cbIsRenewal ? null : ''" class="form-control required"
                      [(ngModel)]="groupPolicy.expiringPolicyNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['expiringPolicyNumber'].errors?.required">
                      * expiring policy number is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Movement Dates</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['effectivityDate'].invalid 
                      && (quoteForm.controls['effectivityDate'].dirty 
                      || quoteForm.controls['effectivityDate'].touched)}">
                    <label for="effectivityDate">Effectivity Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="mindate"
                      formControlName="effectivityDate" [(ngModel)]="homeDetails.effectivityDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['effectivityDate'].errors?.required">
                      * effectivity date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['expiryDate'].invalid 
                      && (quoteForm.controls['expiryDate'].dirty 
                      || quoteForm.controls['expiryDate'].touched)}">
                    <label for="expiryDate">Expiry Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required"
                      [minDate]="expiryDateMinDate" formControlName="expiryDate" [(ngModel)]="homeDetails.expiryDate"
                      bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['expiryDate'].errors?.required">
                      * expiry date is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Product Data</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['paymentMethod'].invalid 
                    && (quoteForm.controls['paymentMethod'].dirty 
                    || quoteForm.controls['paymentMethod'].touched)}">
                    <label for="paymentMethod">Payment Method</label>
                    <select class="custom-select mr-sm-2 required" formControlName="paymentMethod"
                      [(ngModel)]="homeDetails.paymentMethod">
                      <option *ngFor="let paymentMethod of LOV.paymentMethodLOV" [ngValue]="paymentMethod.value">
                        {{ paymentMethod.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['paymentMethod'].errors?.required">
                      * payment method is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['productList'].invalid 
                    && (quoteForm.controls['productList'].dirty 
                    || quoteForm.controls['productList'].touched)}">
                    <label for="productList">Product List</label>
                    <select class="custom-select mr-sm-2 required" formControlName="productList"
                      [(ngModel)]="homeDetails.productList">
                      <option *ngFor="let product of LOV.productListLOV" [ngValue]="product.value">{{ product.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['productList'].errors?.required">
                      * product list is required
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button [disabled]="quoteForm.pristine || quoteForm.invalid" type="button" class="btn btn-primary"
              (click)="issueQuote(homeDetails, groupPolicy)">Issue Qoute</button>
          </div>

        </form>
        <!-- .regular-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quotationHome -->
