<div class="row" id="quickQuotationAccident">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Accident</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="clearfix"></div>
        <form [formGroup]="quickQuoteForm">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['subline'].invalid 
                  && (quickQuoteForm.controls['subline'].dirty 
                  || quickQuoteForm.controls['subline'].touched)}">
                <label for="subline">Subline</label>
                <select class="custom-select mr-sm-2 required" formControlName="subline"
                  [(ngModel)]="accidentDetails.subline">
                  <option selected></option>
                  <option *ngFor="let subline of sublineLOV" [ngValue]="subline.value">{{ subline.name }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['subline'].errors?.required">
                  * subline is required
                </p>
              </div>
            </div>
            <!-- col-lg-3 col-md-4 col-sm-6 -->
            <div class="clearfix"></div>

            <div class="additional-accident-details" *ngIf="showDetails">
              <div class="form-divider"></div>
              <div class="col-xl-12">
                <h6>Details</h6>
              </div>
              <!-- .col-xl-12 -->

              <div class="acci-spa col-lg-12" *ngIf="showSPADetails">
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['occupationalClass'].invalid 
                        && (quickQuoteForm.controls['occupationalClass'].dirty 
                        || quickQuoteForm.controls['occupationalClass'].touched)}">
                      <label for="occupationalClass">Occupational Class</label>
                      <select class="custom-select mr-sm-2 required" formControlName="occupationalClass"
                        [(ngModel)]="accidentDetails.occupationalClass">
                        <option selected></option>
                        <option *ngFor="let occupationalClass of occupationalClassLOV"
                          [ngValue]="occupationalClass.name">
                          {{ occupationalClass.value }}</option>
                      </select>
                      <p class="form-error" *ngIf="quickQuoteForm.controls['occupationalClass'].errors?.required">
                        * occupational class is required
                      </p>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['disablementValue'].invalid 
                        && (quickQuoteForm.controls['disablementValue'].dirty 
                        || quickQuoteForm.controls['disablementValue'].touched)}">
                      <label for="disablementValue">Accidental Death and Disablement Value</label>
                      <select class="custom-select mr-sm-2 required" formControlName="disablementValue"
                        [(ngModel)]="accidentDetails.disablementValue">
                        <option selected></option>
                        <option *ngFor="let disablementValue of disablementValueLOV" [ngValue]="disablementValue.name">
                          {{ disablementValue.value }}</option>
                      </select>
                      <p class="form-error" *ngIf="quickQuoteForm.controls['disablementValue'].errors?.required">
                        * accidental death and disablement value is required
                      </p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- .row -->
              </div>
              <!-- acci-spa col-lg-12 -->

              <div class="acci-hcbi col-lg-12" *ngIf="showHCBIDetails">
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <label class="form-check-label">
                      Primary Insured
                    </label>
                    <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['primaryInsuredAge'].invalid 
                        && (quickQuoteForm.controls['primaryInsuredAge'].dirty 
                        || quickQuoteForm.controls['primaryInsuredAge'].touched)}">
                      <select class="custom-select mr-sm-2 required" formControlName="primaryInsuredAge"
                        [(ngModel)]="accidentDetails.primaryInsuredAge">
                        <option selected></option>
                        <option *ngFor="let primaryInsuredAge of primaryInsuredAgeLOV"
                          [ngValue]="primaryInsuredAge.name">
                          {{ primaryInsuredAge.value }}</option>
                      </select>
                      <p class="form-error" *ngIf="quickQuoteForm.controls['primaryInsuredAge'].errors?.required">
                        * primary insured is required
                      </p>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbSpouseAge"
                        formControlName="cbSpouseAge" [(ngModel)]="accidentDetails.cbSpouseAge">
                      <label class="form-check-label" for="cbSpouseAge">
                        Spouse
                      </label>
                    </div>
                    <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['spouseAge'].invalid 
                        && (quickQuoteForm.controls['spouseAge'].dirty 
                        || quickQuoteForm.controls['spouseAge'].touched)}">
                      <select class="custom-select mr-sm-2 required"
                        [attr.disabled]="accidentDetails.cbSpouseAge ? null : ''" formControlName="spouseAge"
                        [(ngModel)]="accidentDetails.spouseAge">
                        <option selected></option>
                        <option *ngFor="let spouseAge of spouseAgeLOV" [ngValue]="spouseAge.name">{{ spouseAge.value }}
                        </option>
                      </select>
                      <p class="form-error" *ngIf="quickQuoteForm.controls['spouseAge'].errors?.required">
                        * spouse is required
                      </p>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbChildAge"
                        formControlName="cbChildAge" [(ngModel)]="accidentDetails.cbChildAge">
                      <label class="form-check-label" for="cbChildAge">
                        Child/Children
                      </label>
                    </div>
                    <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['childAge'].invalid 
                        && (quickQuoteForm.controls['childAge'].dirty 
                        || quickQuoteForm.controls['childAge'].touched)}">
                      <select class="custom-select mr-sm-2 required"
                        [attr.disabled]="accidentDetails.cbChildAge ? null : ''" formControlName="childAge"
                        [(ngModel)]="accidentDetails.childAge">
                        <option selected></option>
                        <option *ngFor="let childAge of childAgeLOV" [ngValue]="childAge.name">{{ childAge.value }}
                        </option>
                      </select>
                      <p class="form-error" *ngIf="quickQuoteForm.controls['childAge'].errors?.required">
                        * child/children is required
                      </p>
                    </div>
                  </div>

                </div>
                <!-- .row -->
              </div>
              <!-- acci-hcbi col-lg-12 -->
            </div>
            <!-- .additional-accident-details -->
          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid" type="button" class="btn btn-primary"
              (click)="quickQuote(accidentDetails)">Generate</button>
          </div>
          <!-- .btn-group -->
          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quickQuotationAccident -->
