<div class="card shadow mb-3">
  <div class="card-header">
    <strong>Group Policy Information</strong>
  </div>

  <div class="card-body">
    <form [formGroup]="gpForm">
      <div class="row">
        <div class="col-xl-12">
          <h6>Group Policy</h6>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="form-group" [ngClass]="{'input-error': gpForm.controls['groupPolicy'].invalid 
            && (gpForm.controls['groupPolicy'].dirty 
            || gpForm.controls['groupPolicy'].touched)}">
            <label for="groupPolicy">Group Policy</label>
            <select class="custom-select mr-sm-2" formControlName="groupPolicy"
              [attr.disabled]=" GPLOV.groupPolicyLOV?.length ? null : true" [(ngModel)]="groupPolicy.groupPolicy"
              (change)="groupPolicyOnChange()">
              <option></option>
              <option *ngFor="let groupPolicy of GPLOV.groupPolicyLOV" [ngValue]="groupPolicy.NUM_POLIZA">
                {{ groupPolicy.NOM_POLIZA }}</option>
            </select>
            <p class="form-error" *ngIf="gpForm.controls['groupPolicy'].errors?.required">
              * group policy is required
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="form-group" [ngClass]="{'input-error': gpForm.controls['contract'].invalid 
            && (gpForm.controls['contract'].dirty 
            || gpForm.controls['contract'].touched)}">
            <label for="contract">Contract</label>
            <select class="custom-select mr-sm-2 required" formControlName="contract" (change)="contractOnChange()"
              [(ngModel)]="groupPolicy.contract" [attr.disabled]=" groupPolicy.groupPolicy ? null : true">
              <option></option>
              <option *ngFor="let contract of GPLOV.contractLOV" [ngValue]="contract.NUM_CONTRATO">
                {{ contract.NOM_CONTRATO }}
              </option>
            </select>
            <p class="form-error" *ngIf="gpForm.controls['contract'].errors?.required">
              * contract is required
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="form-group" [ngClass]="{'input-error': gpForm.controls['subContract'].invalid 
            && (gpForm.controls['subContract'].dirty 
            || gpForm.controls['subContract'].touched)}">
            <label for="subContract">Sub Contract</label>
            <select class="custom-select mr-sm-2 required" formControlName="subContract"
              [(ngModel)]="groupPolicy.subContract"
              [attr.disabled]=" groupPolicy.groupPolicy && groupPolicy.contract ? null : true">
              <option></option>
              <option *ngFor="let subContract of GPLOV.subContractLOV" [ngValue]="subContract.NUM_SUBCONTRATO">
                {{ subContract.NOM_SUBCONTRATO }}</option>
            </select>
            <p class="form-error" *ngIf="gpForm.controls['subContract'].errors?.required">
              * sub contract is required
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="form-group" [ngClass]="{'input-error': gpForm.controls['commercialStructure'].invalid 
            && (gpForm.controls['commercialStructure'].dirty 
            || gpForm.controls['commercialStructure'].touched)}">
            <label for="commercialStructure">Commercial Structure</label>
            <select class="custom-select mr-sm-2 required" formControlName="commercialStructure"
              [attr.disabled]=" GPLOV.commercialStructureLOV?.length ? null : true"
              [(ngModel)]="groupPolicy.commercialStructure">
              <option></option>
              <option *ngFor="let commercialStructure of GPLOV.commercialStructureLOV"
                [ngValue]="commercialStructure.COD_NIVEL3">{{ commercialStructure.NOM_NIVEL3 }}</option>
            </select>
            <p class="form-error" *ngIf="gpForm.controls['commercialStructure'].errors?.required">
              * commercial structure is required
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="form-group" [ngClass]="{'input-error': gpForm.controls['agentCode'].invalid 
            && (gpForm.controls['agentCode'].dirty 
            || gpForm.controls['agentCode'].touched)}">
            <label for="agentCode">Agent Code</label>
            <input type="text" formControlName="agentCode" class="form-control required"
              [(ngModel)]="groupPolicy.agentCode">
            <p class="form-error" *ngIf="gpForm.controls['agentCode'].errors?.required">
              * agent code is required
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="form-group" [ngClass]="{'input-error': gpForm.controls['expiringPolicyNumber'].invalid 
            && (gpForm.controls['expiringPolicyNumber'].dirty 
            || gpForm.controls['expiringPolicyNumber'].touched)}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="cbIsRenewal" formControlName="cbIsRenewal"
                [(ngModel)]="groupPolicy.cbIsRenewal">
              <label class="form-check-label" for="cbIsRenewal">
                Renewal
              </label>
            </div>
            <label class="form-check-label" for="cbIsRenewal">
              Expiring Policy Number
            </label>
            <input type="text" formControlName="expiringPolicyNumber"
              [attr.disabled]="groupPolicy.cbIsRenewal ? null : ''" class="form-control required"
              [(ngModel)]="groupPolicy.expiringPolicyNumber">
            <p class="form-error" *ngIf="gpForm.controls['expiringPolicyNumber'].errors?.required">
              * expiring policy number is required
            </p>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>