<div class="row" id="quickQuotationCar">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Car</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quickQuoteForm" class="quick-quote-form">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['make'].invalid 
                && (quickQuoteForm.controls['make'].dirty 
                || quickQuoteForm.controls['make'].touched)}">
                <label for="make">Make</label>
                <select class="custom-select mr-sm-2 required" formControlName="make" (change)="makeOnchange()"
                  [(ngModel)]="carDetails.make">
                  <option *ngFor="let make of LOV.makeLOV" [ngValue]="make.COD_MARCA">{{ make.NOM_MARCA }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['make'].errors?.required">
                  * make is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['model'].invalid 
              && (quickQuoteForm.controls['model'].dirty 
              || quickQuoteForm.controls['model'].touched)}">
                <label for="model">Model</label>
                <select class="custom-select mr-sm-2 required" formControlName="model" (change)="modelOnchange()"
                  [(ngModel)]="carDetails.model" [attr.disabled]=" LOV.modelLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let model of LOV.modelLOV" [ngValue]="model.COD_MODELO">{{ model.NOM_MODELO }}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['model'].errors?.required">
                  * model is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['vehicleType'].invalid 
              && (quickQuoteForm.controls['vehicleType'].dirty 
              || quickQuoteForm.controls['vehicleType'].touched)}">
                <label for="vehicleType">Vehicle Type</label>
                <select class="custom-select mr-sm-2 required" formControlName="vehicleType"
                  (change)="vehicleTypeOnchange()" [(ngModel)]="carDetails.vehicleType"
                  [attr.disabled]=" LOV.vehicleTypeLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let vehicleType of LOV.vehicleTypeLOV" [ngValue]="vehicleType.COD_TIP_VEHI">
                    {{ vehicleType.NOM_TIP_VEHI }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['vehicleType'].errors?.required">
                  * vehicle type is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['modelYear'].invalid 
              && (quickQuoteForm.controls['modelYear'].dirty 
              || quickQuoteForm.controls['modelYear'].touched)}">
                <label for="modelYear">Model Year</label>
                <select class="custom-select mr-sm-2 required" formControlName="modelYear"
                  (change)="modelYearOnchange()" [(ngModel)]="carDetails.modelYear"
                  [attr.disabled]=" LOV.modelYearLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let modelYear of LOV.modelYearLOV" [ngValue]="modelYear.ANIO_SUB_MODELO">
                    {{ modelYear.ANIO_SUB_MODELO }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['modelYear'].errors?.required">
                  * model year is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['subModel'].invalid 
              && (quickQuoteForm.controls['subModel'].dirty 
              || quickQuoteForm.controls['subModel'].touched)}">
                <label for="subModel">Sub Model</label>
                <select class="custom-select mr-sm-2 required" formControlName="subModel" (change)="subModelOnchange()"
                  [(ngModel)]="carDetails.subModel" [attr.disabled]=" LOV.subModelLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let subModel of LOV.subModelLOV" [ngValue]="subModel.COD_SUB_MODELO">
                    {{subModel.NOM_SUB_MODELO + '('+ subModel.TIP_CAJA_CAMBIO+ ') '+ (subModel.NOM_TRACCION == 'UNKNOWN' ? "": subModel.NOM_TRACCION)}}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['subModel'].errors?.required">
                  * sub model is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['typeOfUse'].invalid 
              && (quickQuoteForm.controls['typeOfUse'].dirty 
              || quickQuoteForm.controls['typeOfUse'].touched)}">
                <label for="typeOfUse">Type of Use</label>
                <select class="custom-select mr-sm-2 required" formControlName="typeOfUse"
                  (change)="typeOfUseOnchange()" [(ngModel)]="carDetails.typeOfUse"
                  [attr.disabled]=" LOV.typeOfUseLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let typeOfUse of LOV.typeOfUseLOV" [ngValue]="typeOfUse.COD_USO_VEHI">
                    {{ typeOfUse.NOM_USO_VEHI }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['typeOfUse'].errors?.required">
                  * type of use is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['subline'].invalid 
              && (quickQuoteForm.controls['subline'].dirty 
              || quickQuoteForm.controls['subline'].touched)}">
                <label for="subline">Subline</label>
                <select class="custom-select mr-sm-2 required" formControlName="subline"
                  [(ngModel)]="carDetails.subline" [attr.disabled]=" LOV.sublineLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let subline of LOV.sublineLOV" [ngValue]="subline.value">{{ subline.name }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['subline'].errors?.required">
                  * subline is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['value'].invalid 
              && (quickQuoteForm.controls['value'].dirty 
              || quickQuoteForm.controls['value'].touched)}">
                <label for="value">Vehicle Value</label>
                <input type="text" formControlName="value" class="form-control" [(ngModel)]="carDetails.vehicleValue"
                  readonly>
                <p class="form-error" *ngIf="quickQuoteForm.controls['value'].errors?.required">
                  * vehicle value is required
                </p>
              </div>
            </div>
          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid" type="button" class="btn btn-primary"
              (click)="quickQuote(carDetails)">Generate</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->

        <div id="quickQouteDetails" class="alert alert-info" *ngIf="showQuickQouteDetails">
          <p><strong>Important Reminder:</strong> All the amounts shown on the product comparison table are only
            estimates
            and must not be taken as the actual premiums of the products.
          </p>
          <h5>Fixed Values: </h5>
          <ul>
            <li>Sum insured per Passenger: Php50,000.00</li>
            <li>VTPL BI: Php200,000.00</li>
            <li>VTPL PD: Php200,000.00</li>
            <li>LGT: 0.75%</li>
          </ul>
        </div>
        <!-- #quickQouteDetails -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quickQuotationCar -->
