<div class="row" id="quickQuotationCar">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Car</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">

        <div class="alert alert-info note">
          <p><strong>Important Reminder:</strong> All the amounts shown on the product comparison table are only
            estimates and must not be taken as the actual premiums of the products.
          </p>
        </div>
        <!-- .note -->

        <form [formGroup]="quickQuoteForm" class="quick-quote-form">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['make'].invalid 
                && (quickQuoteForm.controls['make'].dirty 
                || quickQuoteForm.controls['make'].touched)}">
                <label for="make">Make</label>
                <select class="custom-select mr-sm-2 required" formControlName="make" (change)="makeOnchange()"
                  [(ngModel)]="carDetails.make">
                  <option *ngFor="let make of LOV.makeLOV" [ngValue]="make.COD_MARCA">{{ make.NOM_MARCA }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['make'].errors?.required">
                  * make is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['model'].invalid 
              && (quickQuoteForm.controls['model'].dirty 
              || quickQuoteForm.controls['model'].touched)}">
                <label for="model">Model</label>
                <select class="custom-select mr-sm-2 required" formControlName="model" (change)="modelOnchange()"
                  [(ngModel)]="carDetails.model" [attr.disabled]=" LOV.modelLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let model of LOV.modelLOV" [ngValue]="model.COD_MODELO">{{ model.NOM_MODELO }}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['model'].errors?.required">
                  * model is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['vehicleType'].invalid 
              && (quickQuoteForm.controls['vehicleType'].dirty 
              || quickQuoteForm.controls['vehicleType'].touched)}">
                <label for="vehicleType">Vehicle Type</label>
                <select class="custom-select mr-sm-2 required" formControlName="vehicleType"
                  (change)="vehicleTypeOnchange()" [(ngModel)]="carDetails.vehicleType"
                  [attr.disabled]=" LOV.vehicleTypeLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let vehicleType of LOV.vehicleTypeLOV" [ngValue]="vehicleType.COD_TIP_VEHI">
                    {{ vehicleType.NOM_TIP_VEHI }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['vehicleType'].errors?.required">
                  * vehicle type is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['modelYear'].invalid 
              && (quickQuoteForm.controls['modelYear'].dirty 
              || quickQuoteForm.controls['modelYear'].touched)}">
                <label for="modelYear">Model Year</label>
                <select class="custom-select mr-sm-2 required" formControlName="modelYear"
                  (change)="modelYearOnchange()" [(ngModel)]="carDetails.modelYear"
                  [attr.disabled]=" LOV.modelYearLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let modelYear of LOV.modelYearLOV" [ngValue]="modelYear.ANIO_SUB_MODELO">
                    {{ modelYear.ANIO_SUB_MODELO }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['modelYear'].errors?.required">
                  * model year is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['subModel'].invalid 
              && (quickQuoteForm.controls['subModel'].dirty 
              || quickQuoteForm.controls['subModel'].touched)}">
                <label for="subModel">Sub Model</label>
                <select class="custom-select mr-sm-2 required" formControlName="subModel" (change)="subModelOnchange()"
                  [(ngModel)]="carDetails.subModel" [attr.disabled]=" LOV.subModelLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let subModel of LOV.subModelLOV" [ngValue]="subModel.COD_SUB_MODELO">
                    {{subModel.NOM_SUB_MODELO + '('+ subModel.TIP_CAJA_CAMBIO+ ') '+ (subModel.NOM_TRACCION == 'UNKNOWN' ? "": subModel.NOM_TRACCION)}}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['subModel'].errors?.required">
                  * sub model is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['typeOfUse'].invalid 
              && (quickQuoteForm.controls['typeOfUse'].dirty 
              || quickQuoteForm.controls['typeOfUse'].touched)}">
                <label for="typeOfUse">Type of Use</label>
                <select class="custom-select mr-sm-2 required" formControlName="typeOfUse"
                  (change)="typeOfUseOnchange()" [(ngModel)]="carDetails.typeOfUse"
                  [attr.disabled]=" LOV.typeOfUseLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let typeOfUse of LOV.typeOfUseLOV" [ngValue]="typeOfUse.COD_USO_VEHI">
                    {{ typeOfUse.NOM_USO_VEHI }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['typeOfUse'].errors?.required">
                  * type of use is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['subline'].invalid 
              && (quickQuoteForm.controls['subline'].dirty 
              || quickQuoteForm.controls['subline'].touched)}">
                <label for="subline">Subline</label>
                <select class="custom-select mr-sm-2 required" formControlName="subline"
                  (change)="sublineOnchange($event)" [(ngModel)]="carDetails.subline"
                  [attr.disabled]=" LOV.sublineLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let subline of LOV.sublineLOV" [ngValue]="subline.value"
                    [attr.data-sublinedate]="subline.effectivityDate">{{ subline.name }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['subline'].errors?.required">
                  * subline is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['vehicleValue'].invalid 
              && (quickQuoteForm.controls['vehicleValue'].dirty 
              || quickQuoteForm.controls['vehicleValue'].touched)}">
                <label for="vehicleValue">Vehicle Value</label>
                <input type="text" formControlName="vehicleValue" class="form-control"
                  [(ngModel)]="carDetails.vehicleValue" readonly>
                <p class="form-error" *ngIf="quickQuoteForm.controls['vehicleValue'].errors?.required">
                  * vehicle value is required
                </p>
              </div>
            </div>
          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid" type="button" class="btn btn-primary"
              (click)="quickQuote(carDetails)">Generate</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->

      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12" id="productComparison">
    <div class="product-comparison" *ngIf="showProductComparison">
      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <img class="product-img-banner" src="./assets/images/product-car.png" alt="product-car" />
            </div>
            <div class="col-lg-12">
              <div class="flexitable">
                <table mat-table [dataSource]="annualData" matSort class="mat-elevation-z8">

                  <!-- Payment Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>Payment</th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Compre Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Compre</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- CTPL Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> CTPL </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Auto Compre Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre == 0 ? 'n/a' : element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <!-- Auto Compre Plus Column -->
                  <ng-container matColumnDef="autoComprePlus">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre Plus </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoComprePlus == 0 ? 'n/a' : element.autoComprePlus | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liabilty Regular Column -->
                  <ng-container matColumnDef="autoLiabilityRegular">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Regular </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilityRegular == 0 ? 'n/a' : element.autoLiabilityRegular | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liability Select Column -->
                  <ng-container matColumnDef="autoLiabilitySelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilitySelect == 0 ? 'n/a' : element.autoLiabilitySelect | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Select Column -->
                  <ng-container matColumnDef="autoSelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoSelect == 0 ? 'n/a' : element.autoSelect | currency:'PHP': 'symbol-narrow'}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card  -->

      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <img class="payment-img-banner" src="./assets/images/product-payment.png" alt="product-payment" />
            </div>
            <div class="col-lg-12">
              <div class="flexitable">

                <table mat-table [dataSource]="plan30Data" matSort class="mat-elevation-z8">

                  <!-- Label Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>
                      <h6>PLAN 30</h6>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Compre Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Compre</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- CTPL Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> CTPL </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Auto Compre Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre == 0 ? 'n/a' : element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <!-- Auto Compre Plus Column -->
                  <ng-container matColumnDef="autoComprePlus">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre Plus </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoComprePlus == 0 ? 'n/a' : element.autoComprePlus | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liability Column -->
                  <ng-container matColumnDef="autoLiabilityRegular">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Regular </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilityRegular == 0 ? 'n/a' : element.autoLiabilityRegular | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liability Select Column -->
                  <ng-container matColumnDef="autoLiabilitySelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilitySelect == 0 ? 'n/a' : element.autoLiabilitySelect | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Select Column -->
                  <ng-container matColumnDef="autoSelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoSelect == 0 ? 'n/a' : element.autoSelect | currency:'PHP': 'symbol-narrow'}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->

            <div class="col-lg-12">
              <div class="flexitable">

                <table mat-table [dataSource]="plan60Data" matSort class="mat-elevation-z8">

                  <!-- Label Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>
                      <h6>PLAN 60</h6>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Compre Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Compre</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- CTPL Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> CTPL </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Auto Compre Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre == 0 ? 'n/a' : element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <!-- Auto Compre Plus Column -->
                  <ng-container matColumnDef="autoComprePlus">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre Plus </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoComprePlus == 0 ? 'n/a' : element.autoComprePlus | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liability Regular Column -->
                  <ng-container matColumnDef="autoLiabilityRegular">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Regular </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilityRegular == 0 ? 'n/a' : element.autoLiabilityRegular | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liability Select Column -->
                  <ng-container matColumnDef="autoLiabilitySelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilitySelect == 0 ? 'n/a' : element.autoLiabilitySelect | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Select Column -->
                  <ng-container matColumnDef="autoSelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoSelect == 0 ? 'n/a' : element.autoSelect | currency:'PHP': 'symbol-narrow'}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->

            <div class="col-lg-12">
              <div class="flexitable">
                <table mat-table [dataSource]="plan90Data" matSort class="mat-elevation-z8">

                  <!-- Label Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>
                      <h6>PLAN 90</h6>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Compre Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef class="amount">Compre</th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.compre == 0 ? 'n/a' : element.compre | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- CTPL Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef class="amount"> CTPL </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.ctpl == 0 ? 'n/a' : element.ctpl | currency:'PHP': 'symbol-narrow'}}</td>
                  </ng-container>

                  <!-- Auto Compre Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoCompre == 0 ? 'n/a' : element.autoCompre | currency:'PHP': 'symbol-narrow' }} </td>
                  </ng-container>

                  <!-- Auto Compre Plus Column -->
                  <ng-container matColumnDef="autoComprePlus">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Compre Plus </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoComprePlus == 0 ? 'n/a' : element.autoComprePlus | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liability Regular Column -->
                  <ng-container matColumnDef="autoLiabilityRegular">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Regular </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilityRegular == 0 ? 'n/a' : element.autoLiabilityRegular | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Liability Select Column -->
                  <ng-container matColumnDef="autoLiabilitySelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Liability Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoLiabilitySelect == 0 ? 'n/a' : element.autoLiabilitySelect | currency:'PHP': 'symbol-narrow'}}
                    </td>
                  </ng-container>

                  <!-- Auto Select Column -->
                  <ng-container matColumnDef="autoSelect">
                    <th mat-header-cell *matHeaderCellDef class="amount"> Auto Select </th>
                    <td mat-cell *matCellDef="let element" class="amount">
                      {{element.autoSelect == 0 ? 'n/a' : element.autoSelect | currency:'PHP': 'symbol-narrow'}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->
          </div>
        </div>
      </div>
      <!-- .card -->

      <div class="card shadow mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <img class="product-img-banner" src="./assets/images/product-coverage.png" alt="product-coverage" />
            </div>
            <div class="col-lg-12">
              <div class="flexitable">
                <table mat-table [dataSource]="coveragelist" matSort class="mat-elevation-z8">

                  <!-- Payment Column -->
                  <ng-container matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef>Payment</th>
                    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                  </ng-container>

                  <!-- Compre Column -->
                  <ng-container matColumnDef="compre">
                    <th mat-header-cell *matHeaderCellDef>Compre</th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.compre"></td>
                  </ng-container>

                  <!-- CTPL Column -->
                  <ng-container matColumnDef="ctpl">
                    <th mat-header-cell *matHeaderCellDef> CTPL </th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.ctpl"></td>
                  </ng-container>

                  <!-- Auto Compre Column -->
                  <ng-container matColumnDef="autoCompre">
                    <th mat-header-cell *matHeaderCellDef> Auto Compre </th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.autoCompre"></td>
                  </ng-container>

                  <!-- Auto Compre Plus Column -->
                  <ng-container matColumnDef="autoComprePlus">
                    <th mat-header-cell *matHeaderCellDef> Auto Compre Plus </th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.autoComprePlus"></td>
                  </ng-container>

                  <!-- Auto Liability Regular Column -->
                  <ng-container matColumnDef="autoLiabilityRegular">
                    <th mat-header-cell *matHeaderCellDef> Auto Liabilty Regular </th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.autoLiabilityRegular"></td>
                  </ng-container>

                  <!-- Auto Liability Select Column -->
                  <ng-container matColumnDef="autoLiabilitySelect">
                    <th mat-header-cell *matHeaderCellDef> Auto Liability Select </th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.autoLiabilitySelect"></td>
                  </ng-container>

                  <!-- Auto Select Column -->
                  <ng-container matColumnDef="autoSelect">
                    <th mat-header-cell *matHeaderCellDef> Auto Select </th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.autoSelect"></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
              </div>
            </div>
            <!-- .col-xl-12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card  -->

    </div>
    <!-- .showProductComparison -->
  </div>
  <!-- .col-xl-12 -->

</div>
<!-- #quickQuotationCar -->
