<div class="row" id="quickQuotationCar">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quick Quotation - Car</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quickQuoteForm" class="quick-quote-form">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickMake'].invalid 
                && (quickQuoteForm.controls['quickMake'].dirty 
                || quickQuoteForm.controls['quickMake'].touched)}">
                <label for="quickMake">Make</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickMake" (change)="makeOnchange()"
                  [(ngModel)]="carDetails.make">
                  <option *ngFor="let make of makeLOV" [ngValue]="make.COD_MARCA">{{ make.NOM_MARCA }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickMake'].errors?.required">
                  * make is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickModel'].invalid 
              && (quickQuoteForm.controls['quickModel'].dirty 
              || quickQuoteForm.controls['quickModel'].touched)}">
                <label for="quickModel">Model</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickModel" (change)="modelOnchange()"
                  [(ngModel)]="carDetails.model" [attr.disabled]=" modelLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let model of modelLOV" [ngValue]="model.COD_MODELO">{{ model.NOM_MODELO }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickModel'].errors?.required">
                  * model is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickVehicleType'].invalid 
              && (quickQuoteForm.controls['quickVehicleType'].dirty 
              || quickQuoteForm.controls['quickVehicleType'].touched)}">
                <label for="quickVehicleType">Vehicle Type</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickVehicleType"
                  (change)="vehicleTypeOnchange()" [(ngModel)]="carDetails.vehicleType"
                  [attr.disabled]=" vehicleTypeLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let vehicleType of vehicleTypeLOV" [ngValue]="vehicleType.COD_TIP_VEHI">
                    {{ vehicleType.NOM_TIP_VEHI }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickVehicleType'].errors?.required">
                  * vehicle type is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickModelYear'].invalid 
              && (quickQuoteForm.controls['quickModelYear'].dirty 
              || quickQuoteForm.controls['quickModelYear'].touched)}">
                <label for="quickModelYear">Model Year</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickModelYear"
                  (change)="modelYearOnchange()" [(ngModel)]="carDetails.modelYear"
                  [attr.disabled]=" modelYearLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let modelYear of modelYearLOV" [ngValue]="modelYear.ANIO_SUB_MODELO">
                    {{ modelYear.ANIO_SUB_MODELO }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickModelYear'].errors?.required">
                  * model year is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickSubModel'].invalid 
              && (quickQuoteForm.controls['quickSubModel'].dirty 
              || quickQuoteForm.controls['quickSubModel'].touched)}">
                <label for="quickSubModel">Sub Model</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickSubModel"
                  (change)="subModelOnchange()" [(ngModel)]="carDetails.subModel"
                  [attr.disabled]=" subModelLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let subModel of subModelLOV" [ngValue]="subModel.COD_SUB_MODELO">
                    {{subModel.NOM_SUB_MODELO + '('+ subModel.TIP_CAJA_CAMBIO+ ') '+ (subModel.NOM_TRACCION == 'UNKNOWN' ? "": subModel.NOM_TRACCION)}}
                  </option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickSubModel'].errors?.required">
                  * sub model is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickTypeOfUse'].invalid 
              && (quickQuoteForm.controls['quickTypeOfUse'].dirty 
              || quickQuoteForm.controls['quickTypeOfUse'].touched)}">
                <label for="quickTypeOfUse">Type of Use</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickTypeOfUse"
                  (change)="typeOfUseOnchange()" [(ngModel)]="carDetails.typeOfUse"
                  [attr.disabled]=" typeOfUseLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let typeOfUse of typeOfUseLOV" [ngValue]="typeOfUse.COD_USO_VEHI">
                    {{ typeOfUse.NOM_USO_VEHI }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickTypeOfUse'].errors?.required">
                  * type of use is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickSubline'].invalid 
              && (quickQuoteForm.controls['quickSubline'].dirty 
              || quickQuoteForm.controls['quickSubline'].touched)}">
                <label for="quickSubline">Subline</label>
                <select class="custom-select mr-sm-2 required" formControlName="quickSubline"
                  [(ngModel)]="carDetails.subline" [attr.disabled]=" sublineLOV?.length ? null : true">
                  <option selected></option>
                  <option *ngFor="let subline of sublineLOV" [ngValue]="subline.value">{{ subline.name }}</option>
                </select>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickSubline'].errors?.required">
                  * subline is required
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group" [ngClass]="{'input-error': quickQuoteForm.controls['quickValue'].invalid 
              && (quickQuoteForm.controls['quickValue'].dirty 
              || quickQuoteForm.controls['quickValue'].touched)}">
                <label for="quickValue">Vehicle Value</label>
                <input type="text" formControlName="quickValue" class="form-control"
                  [(ngModel)]="carDetails.vehicleValue" readonly>
                <p class="form-error" *ngIf="quickQuoteForm.controls['quickValue'].errors?.required">
                  * vehicle value is required
                </p>
              </div>
            </div>
          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="quickQuoteForm.pristine || quickQuoteForm.invalid" type="button" class="btn btn-primary"
              (click)="quickQuote(carDetails)">Generate</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->

        <div id="quickQouteDetails" class="alert alert-info" *ngIf="showQuickQouteDetails">
          <p><strong>Important Reminder:</strong> All the amounts shown on the product comparison table are only
            estimates
            and must not be taken as the actual premiums of the products.
          </p>
          <h5>Fixed Values: </h5>
          <ul>
            <li>Sum insured per Passenger: Php50,000.00</li>
            <li>VTPL BI: Php200,000.00</li>
            <li>VTPL PD: Php200,000.00</li>
            <li>LGT: 0.75%</li>
          </ul>
        </div>
        <!-- #quickQouteDetails -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quickQuotationCar -->
