<div class="row" id="faq">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Frequently Asked Questions</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="col-md-12">

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section">
                <h5><span class="qa-label">Q.</span>&nbsp;How do I fill-out my Official Receipt based on the
                  disbursement statement?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <h5><span class="qa-label">A.</span>&nbsp;&nbsp;Sample Disbursement Statement - TWB</h5>
                <img src="/assets/images/faq/sample-ds.png" alt="disbursement-statement TWB" />
                <br />
                <br />
                <h5>Sample Disbursement Statement - NIIS</h5>
                <img src="/assets/images/faq/sample-cpr.png" alt="disbursement-statement NIIS" />
                <br />
                <br />
                <h5>Sample BIR Official Receipt</h5>
                <img src="/assets/images/faq/sample-or.png" alt="disbursement-statement BIR-OR" />
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;How would I know if my Official Receipt is valid?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;Validity period of Official Receipt is <strong>five (5)
                    years</strong> only. e.g. If the Official
                  Receipt is printed
                  on July 12, 2019, Official Receipt is still acceptable until July 11, 2024.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;Where can I submit my Official Receipts?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;You may submit your Official Receipts to <strong>any
                    MAPFRE Insurance Sales Office</strong> near you.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;What are the cut-offs and schedules I need to remember?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <span class="qa-label">A.</span>
                <ol>
                  <li>All Official Receipts in exchange of commission received from previous month shall be
                    submitted to Head Office c/o Commission personnel on or before 1st Monday of the following month.
                  </li>
                  <li>In the event that Official Receipt was not submitted during the 1st week, agent should
                    submit the pending Official Receipt before Monday of the following week.</li>
                  <li>Transfer of Commission to agent's ATM account is every Wednesday and Thursday</li>
                  <li>Disbursement Statement will be sent to agent's registered email every Wednesday and Friday
                    by senders noreply@mapfreinsurance.com.ph; treasuryho@mapfreinsurance.com.ph</li>
                  <li>Commission to be released is based on the premiums posted as fully paid in the system from
                    Tuesday (prior week) up to Monday (current week).</li>
                </ol>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;How will I be able to receive my commissions for my paid
                  accounts?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;Commissions for licensed individuals shall only be paid
                  via transfer to their registered BPI account
                  number.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;What if I don't have BPI account? Are there other banks
                  available?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;<strong>None</strong>, but MAPFRE can endorse you to open
                  a BPI account without maintaining balance
                  provided you have regular
                  commission being credited to your account. If after six months and no amount has been credited, the
                  bank
                  shall
                  change it to regular account with required ADB. Other terms and conditions are indicated in the BPI
                  endorsement form.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;If I have existing BPI account, can I use it?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;<strong>Yes</strong>, all BPI accounts (current or
                  savings) except for BPI Family Savings</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;What are the requirements in order to receive my commissions
                  regularly?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;Aside from having a valid license and duly submitted MOA
                  (Memorandum of Agreement), you must submit
                  your
                  <strong>valid BIR Official Receipts (OR)</strong> on or before the due date which is indicated in the
                  email advice sent by
                  MAPFRE to your registered email address. You may issue Official Receipt based on the statement
                  received
                  weekly
                  or for the total amount received in a month provided that issue date is within the month commission
                  was
                  released. Ensure that you sign the OR on the space provided for signature every time you issue the OR.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;Where can I send my queries or concerns with regards to my
                  commission?</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;You may email your concerns or queries to
                  <strong>DCU@mapfreinsurance.com.ph</strong>
                  or <strong>mrbdagsa@mapfreinsurance.com.ph</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="question-panel">
            <div class="question-container">
              <div class="question-section col-xs-11">
                <h5><span class="qa-label">Q.</span>&nbsp;What are the possible causes of a negative amount reflected on
                  my disbursement statement</h5>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="answer-container">
              <div class="answer-section col-xs-11">
                <p><span class="qa-label">A.</span>&nbsp;&nbsp;Aside from the the deductions found in the column
                  <strong>advance disbursement</strong>, which
                  represent the
                  discounts/commission given to clients by the agent. There will be a negative effect on your
                  commission if there is:</p>
                <ul>
                  <li>returned check/bounced check</li>
                  <li>cancellation endorsement</li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>
        <!-- .col-md-12 -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #faq -->
