<div class="card shadow mb-3">
  <div class="card-header">
    <strong>Individual Policy</strong>
  </div>
  <div class="card-body">
    <div class="row">

      <!-- <div class="col-md-4">
        <div class="form-group">
          <label for="requestType">Quotation/Policy</label>
          <select class="custom-select mr-sm-2 required" formControlName="requestType"
            [(ngModel)]="details.requestType">
            <option value="Q">Quotation</option>
            <option value="I">Issuance</option>
          </select>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="number">Number</label>
          <input type="text" formControlName="number" class="form-control required" [(ngModel)]="details.number">
        </div>
      </div>

      <div class="col-md-12">
        <div class="btn-group" role="group">
          <button [disabled]="true" type="button" class="btn btn-primary">Load</button>
        </div>
      </div> -->

    </div>
  </div>
</div>
