<div class="row" id="documentPrinting">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Document Printing</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">

        <form [formGroup]="documentPrintingForm">
          <div class="row">
            <div class="col-xl-5 col-md-5 col-sm-12">
              <div class="form-group input-group mb-3" [ngClass]="{'input-error': documentPrintingForm.controls['documentType'].invalid 
                && (documentPrintingForm.controls['documentType'].dirty 
                || documentPrintingForm.controls['documentType'].touched)}">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Document Type</label>
                </div>

                <select class="custom-select mr-sm-2" formControlName="documentType"
                  [(ngModel)]="documentPrintingDetails.documentType">
                  <option selected>
                    <p *ngIf="documentPrintingForm.controls['documentType'].errors?.required">
                      Select Document Type
                    </p>
                  </option>
                  <option value="P">Policy</option>
                  <option value="Q">Quotation</option>
                  <option value="C">Commission Statement</option>
                  <option value="S">Statement of Account</option>
                </select>

              </div>
            </div>
            <div class="col-md-7 col-sm-6" *ngIf="showPolicyDetails">
              <div class="form-group" [ngClass]="{'input-error': documentPrintingForm.controls['policyNumber'].invalid 
                    && (documentPrintingForm.controls['policyNumber'].dirty 
                    || documentPrintingForm.controls['policyNumber'].touched)}">
                <label for="policyNumber">Policy Number</label>
                <input type="text" formControlName="policyNumber" class="form-control"
                  [(ngModel)]="documentPrintingDetails.policyNumber">
                <p class="form-error" *ngIf="documentPrintingForm.controls['policyNumber'].errors?.required">
                  * policy number is required
                </p>
              </div>
            </div>

            <div class="col-md-7 col-sm-6" *ngIf="showQuotationDetails">
              <div class="form-group" [ngClass]="{'input-error': documentPrintingForm.controls['quotationNumber'].invalid 
                    && (documentPrintingForm.controls['quotationNumber'].dirty 
                    || documentPrintingForm.controls['quotationNumber'].touched)}">
                <label for="quotationNumber">Quotation Number</label>
                <input type="text" formControlName="quotationNumber" class="form-control"
                  [(ngModel)]="documentPrintingDetails.quotationNumber">
                <p class="form-error" *ngIf="documentPrintingForm.controls['quotationNumber'].errors?.required">
                  * quotation number is required
                </p>
              </div>
            </div>

            <div class="col-md-7 col-sm-6" *ngIf="showCommissionStatementDetails">
              <div *ngIf="!showCsDate" class="alert alert-info note">
                <p>No generated COMMISSION STATEMENT for the past 3 months
                </p>
              </div>
              <div *ngIf="showCsDate" class="row">
                <div class="col-md-12">
                  <div class="alert alert-info note">
                    <p>Print your COMMISSION STATEMENT for the past 3 months</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': documentPrintingForm.controls['csProcessDate'].invalid 
                    && (documentPrintingForm.controls['csProcessDate'].dirty 
                    || documentPrintingForm.controls['csProcessDate'].touched)}">
                    <label for="csProcessDate">Select Date</label>
                    <select class="custom-select mr-sm-2 required" formControlName="csProcessDate"
                      [(ngModel)]="documentPrintingDetails.csProcessDate">
                      <option selected></option>
                      <option *ngFor="let csProcessDate of csProcessDateLOV" [ngValue]="csProcessDate.value">
                        {{ csProcessDate.date }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="documentPrintingForm.controls['csProcessDate'].errors?.required">
                      * please select a date
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': documentPrintingForm.controls['csPass'].invalid 
                    && (documentPrintingForm.controls['csPass'].dirty 
                    || documentPrintingForm.controls['csPass'].touched)}">
                    <label for="csPass">Password</label>
                    <input type="password" formControlName="csPass" class="form-control"
                      [(ngModel)]="documentPrintingDetails.csPass">
                    <p class="form-error" *ngIf="documentPrintingForm.controls['csPass'].errors?.required">
                      * password is required
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-7 col-sm-6" *ngIf="showSOADetails">
              <div class="alert alert-info note">
                <p>Print your STATEMENT OF ACCOUNT for the past 3 months</p>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': documentPrintingForm.controls['soaProcessDate'].invalid 
                      && (documentPrintingForm.controls['soaProcessDate'].dirty 
                      || documentPrintingForm.controls['soaProcessDate'].touched)}">
                    <label for="soaProcessDate">Select Date</label>
                    <select class="custom-select mr-sm-2 required" formControlName="soaProcessDate"
                      [(ngModel)]="documentPrintingDetails.soaProcessDate">
                      <option selected></option>
                      <option *ngFor="let soaProcessDate of soaProcessDateLOV" [ngValue]="soaProcessDate.value">
                        {{ soaProcessDate.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="documentPrintingForm.controls['soaProcessDate'].errors?.required">
                      * please select a date
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': documentPrintingForm.controls['soaPass'].invalid 
                      && (documentPrintingForm.controls['soaPass'].dirty 
                      || documentPrintingForm.controls['soaPass'].touched)}">
                    <label for="soaPass">Password</label>
                    <input type="password" formControlName="soaPass" class="form-control"
                      [(ngModel)]="documentPrintingDetails.soaPass">
                    <p class="form-error" *ngIf="documentPrintingForm.controls['soaPass'].errors?.required">
                      * password is required
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="dp-policy col-lg-12" *ngIf="showPolicyDetails">
              <div class="row">

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Policy Details</h6>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': documentPrintingForm.controls['endorsementNumber'].invalid 
                    && (documentPrintingForm.controls['endorsementNumber'].dirty 
                    || documentPrintingForm.controls['endorsementNumber'].touched)}">
                    <label for="endorsementNumber">Endorsement Number</label>
                    <input type="text" formControlName="endorsementNumber" class="form-control"
                      [(ngModel)]="documentPrintingDetails.endorsementNumber">
                    <p class="form-error" *ngIf="documentPrintingForm.controls['endorsementNumber'].errors?.required">
                      * endorsement number is required
                    </p>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="policyPPRF" formControlName="policyPPRF"
                      [(ngModel)]="documentPrintingDetails.policyPPRF">
                    <label class="form-check-label" for="policyPPRF">
                      Print Policy Receipt Form (North Luzon Policy)
                    </label>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="policyPAC" formControlName="policyPAC"
                      [(ngModel)]="documentPrintingDetails.policyPAC">
                    <label class="form-check-label" for="policyPAC">
                      Print Agent's Copy
                    </label>
                  </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="policyPV" formControlName="policyPV"
                      [(ngModel)]="documentPrintingDetails.policyPV">
                    <label class="form-check-label" for="policyPV">
                      Print Voucher
                    </label>
                  </div>
                </div>

              </div>
              <!-- .row -->
            </div>
            <!-- dp-policy col-lg-12 -->

          </div>
          <!-- .row -->

          <div class="btn-group" role="group">
            <button [disabled]="documentPrintingForm.pristine || documentPrintingForm.invalid" type="button"
              class="btn btn-primary" (click)="print(documentPrintingDetails)">Print</button>
          </div>
          <!-- .btn-group -->

        </form>

      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #documentPrinting -->