<div mat-dialog-content>
  <div class="container">
    <div class="header row">
      <div class="col-md-4">
        <h6>Quotation Number</h6>
        <h4>{{number}}</h4>
      </div>
      <div class="col-md-4">
        <h6>Product</h6>
        <h4>{{product}}</h4>
      </div>
      <div class="col-md-4">
        <h6>Payment Plan</h6>
        <h4>{{payment}}</h4>
      </div>
    </div>
  </div>
  
  <div id="paymentBreakdown" *ngFor="let payment of payments; let i = index">
    <div class="flexitable">
      <table mat-table [dataSource]="payment.dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="effectivityDate">
          <th mat-header-cell *matHeaderCellDef> Receipt Effectivity Date </th>
          <td mat-cell *matCellDef="let element"> {{element.effectivityDate}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef> Receipt Due Date </th>
          <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="premium">
          <th mat-header-cell *matHeaderCellDef> Premium </th>
          <td mat-cell *matCellDef="let element"> {{element.premium | currency: payment.currencyCode : 'symbol-narrow'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="netPremium">
          <th mat-header-cell *matHeaderCellDef> Net Premium </th>
          <td mat-cell *matCellDef="let element"> {{element.netPremium | currency: payment.currencyCode : 'symbol-narrow'}}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tax">
          <th mat-header-cell *matHeaderCellDef> Tax </th>
          <td mat-cell *matCellDef="let element"> {{element.tax | currency: payment.currencyCode : 'symbol-narrow'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="commission">
          <th mat-header-cell *matHeaderCellDef> Commission </th>
          <td mat-cell *matCellDef="let element"> {{element.commission | currency: payment.currencyCode : 'symbol-narrow'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="payment.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: payment.displayedColumns;"></tr>
      </table>
    </div>

    <label class="show-more" (click)="toggle(i)">
      {{payment.toggleLabel}} <i
        [ngClass]="payment.animationState=='out' ? 'fa fa-angle-double-down' : 'fa fa-angle-double-up'"></i>
    </label>

    <div [@slideInOut]="payment.animationState" class="container-fluid breakdown">

      <div *ngIf="payment.showExchangeRate" class="alert alert-info note">
        Exchange rate: <strong>PHP to {{payment.currencyCode}} is
          {{payment.exchangeRate | currency: 'PHP' : 'symbol-narrow'}}</strong>
      </div>

      <div *ngFor="let item of payment.paymentBreakdown;" class="row justify-content-center">
        <div class="col-4{{item.abrEco == 'TOTLP' ? ' emphasize' : ''}}">
          {{item.nomEco}}
        </div>
        <div class="col-4 right{{item.abrEco == 'TOTLP' ? ' emphasize' : ''}}">
          {{item.impEco | currency: payment.currencyCode : 'symbol-narrow'}}
        </div>
        <div class="clearfix divider"></div>
      </div>
    </div>

  </div>

</div>

<div mat-dialog-actions align="end">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="close(false)">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="printQuote()">
      Print Quote
    </button>
    <button type="button" class="btn btn-primary" (click)="proceedToIssuance()">
      Proceed to Issuance
    </button>
  </div>
</div>