@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html,
body {
  height: 100%;
  min-height: 300px;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: 'Source Sans Pro', Roboto, "Helvetica Neue", sans-serif !important;
}

body, .btn {
  font-size: 0.8750em;
}

.btn-default {
  color: #4c4c4c;
  background-color: #dedede;
  border-color: #b1b1b1;
}

.btn.btn-primary {
  background: #3a3a3a;
  border-color: #464646;
}

.btn.btn-primary:hover {
  background: #272727;
  border-color: #464646;
}

.bg-gradient-primary,
#login .left-container,
#chooseAgent {
  background: #c31f09;
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
}

.border-left-primary {
  border-left: .25rem solid #c31f09 !important;
}

.text-primary {
  color: #c31f09 !important;
}

.bg-primary {
  background-color: #c31f09 !important;
}

.flexitable {
  overflow-x: auto;
}

.btn-group-table {
  bottom: 20px;
}

.btn-group-table button {
  margin-right: 5px;
}

.page-header {
  color: #3e3e3e;
  padding-bottom: 15px;
}

.page-header h4 {
  font-weight: 400;
}

app-sidenav {
  background: #c31f09;
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
}

form .required {
  border-left: 6px solid #7e7e7e;
}

form .form-divider {
  border-top: 1px solid #ececec;
  width: 100%;
  padding-bottom: 25px;
  margin-top: 10px;
  clear: both;
}

.btn-group {
  float: right;
}

form .form-error {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  color: #c31f09;
  display: none;
}

form .form-group.input-error .form-error {
  display: block !important;
}

form .form-group.input-error input,
form .form-group.input-error select,
form .form-group.input-error textarea,
form .form-group.input-error .multiselect-dropdown {
  border: 2px solid #c31f09 !important;
}

.sidebar-dark .nav-item .nav-link,
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  cursor: pointer;
}

.clearfix {
  width: 100%;
}

.custom-select:disabled,
.form-control:disabled,
.form-control[readonly] {
  border-left: 1px solid #ced4da !important;
}

form .card-header {
  background: #7e7e7e;
  color: #fff;
}

form .card-header.optional {
  background: #fff;
  color: #212529;
  cursor: pointer;
}

.dropdown {
  line-height: unset !important;
}

.sidebar.toggled {
  display: none;
}

/* product comparison styles */
.product-comparison  .card,
.product-comparison  h6 {
  margin-top: 10px;
}

.product-comparison  .mat-table {
  width: 100%;
}

.product-comparison  table {
  text-align: center !important;
  width: 100%;
}

.product-comparison  table .amount {
  text-align: right !important;
}

.product-comparison  table h6 {
  margin: 0 !important;
}

.product-comparison  tr.mat-header-row {
  background: #f7f7f7;
}

.product-comparison  .mat-header-cell {
  text-align: center;
}

.product-img-banner, .payment-img-banner {
  width: 100%;
}

.product-comparison .fa-check-circle {
  color: green !important;
}

.product-comparison .fa-times-circle {
  color: indianred !important;
}

/* quick quote details note/reminder */
#quickQouteDetails {
  font-size: 13px;
}

#quickQouteDetails p {
  margin-bottom: 0px;
}

/* modal */
.modal-body {
  overflow-wrap: break-word;
}