<div class="row" id="query">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Query</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">

        <div class="row">
          <div class="col-xl-3 col-md-5 col-sm-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Options</label>
              </div>

              <select class="custom-select mr-sm-2 required">
                <option selected value="policy">Policy</option>
                <option value="claims">Claims</option>
              </select>
            </div>
          </div>

          <div class="col-xl-9 col-md-7 col-sm-12">
            <div class="input-group">
              <input type="text" class="form-control bg-light small" aria-label="Search"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #query -->
