<div class="row" id="quotationCar">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quotation - Car</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body"> 
        <form class="regular-quote-form">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Vehicle Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Risk Details</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Make</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Model</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Vehicle Type</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Model Year</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Sub Model</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Type of Use</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Vehicle Value</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Subline</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Vehicle Information</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Color</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Area of Usage</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Conduction Number</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Plate Number</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Chassis Number/Serial Number</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Motor Number/Engine Number</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">MV File Number</label>
                    <input type="text" class="form-control">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Purchase Date</label>
                    <input type="date" class="form-control">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Received By</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Received Date</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Accessories</strong>
            </div>
            <div class="card-body">
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Policy Holder Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Policy Holder</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Client's Name</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>General Information</strong>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Group Policy</h6>
                </div>


                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Group Policy</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Contract</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Sub Contract</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Commercial Structure</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Agent Code</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Movement Dates</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Effectivity Date</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Expiry Date</label>
                    <input type="text" class="form-control required">
                  </div>
                </div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Product Data</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Payment Method</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Product List</label>
                    <select class="custom-select mr-sm-2 required" id="inlineFormCustomSelect">
                      <option selected></option>
                      <option value="1">One</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Print Qoute</button>
            <button type="button" class="btn btn-primary">Issue Qoute</button>
            <button type="button" class="btn btn-primary">Proceed to Issuance</button>
          </div>

        </form>
        <!-- .regular-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quotationCar -->