<div class="row" id="quotationCar">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quotation - Car</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quoteForm" class="regular-quote-form">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Vehicle Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Risk Details</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['make'].invalid 
                    && (quoteForm.controls['make'].dirty 
                    || quoteForm.controls['make'].touched)}">
                    <label for="make">Make</label>
                    <select class="custom-select mr-sm-2 required" formControlName="make" (change)="makeOnchange()"
                      [(ngModel)]="carDetails.make">
                      <option *ngFor="let make of LOV.makeLOV" [ngValue]="make.COD_MARCA">{{ make.NOM_MARCA }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['make'].errors?.required">
                      * make is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['model'].invalid 
                  && (quoteForm.controls['model'].dirty 
                  || quoteForm.controls['model'].touched)}">
                    <label for="model">Model</label>
                    <select class="custom-select mr-sm-2 required" formControlName="model" (change)="modelOnchange()"
                      [(ngModel)]="carDetails.model" [attr.disabled]=" LOV.modelLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let model of LOV.modelLOV" [ngValue]="model.COD_MODELO">{{ model.NOM_MODELO }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['model'].errors?.required">
                      * model is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleType'].invalid 
                  && (quoteForm.controls['vehicleType'].dirty 
                  || quoteForm.controls['vehicleType'].touched)}">
                    <label for="vehicleType">Vehicle Type</label>
                    <select class="custom-select mr-sm-2 required" formControlName="vehicleType"
                      (change)="vehicleTypeOnchange()" [(ngModel)]="carDetails.vehicleType"
                      [attr.disabled]=" LOV.vehicleTypeLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let vehicleType of LOV.vehicleTypeLOV" [ngValue]="vehicleType.COD_TIP_VEHI">
                        {{ vehicleType.NOM_TIP_VEHI }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleType'].errors?.required">
                      * vehicle type is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['modelYear'].invalid 
                  && (quoteForm.controls['modelYear'].dirty 
                  || quoteForm.controls['modelYear'].touched)}">
                    <label for="modelYear">Model Year</label>
                    <select class="custom-select mr-sm-2 required" formControlName="modelYear"
                      (change)="modelYearOnchange()" [(ngModel)]="carDetails.modelYear"
                      [attr.disabled]=" LOV.modelYearLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let modelYear of LOV.modelYearLOV" [ngValue]="modelYear.ANIO_SUB_MODELO">
                        {{ modelYear.ANIO_SUB_MODELO }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['modelYear'].errors?.required">
                      * model year is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subModel'].invalid 
                  && (quoteForm.controls['subModel'].dirty 
                  || quoteForm.controls['subModel'].touched)}">
                    <label for="subModel">Sub Model</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subModel"
                      (change)="subModelOnchange()" [(ngModel)]="carDetails.subModel"
                      [attr.disabled]=" LOV.subModelLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let subModel of LOV.subModelLOV" [ngValue]="subModel.COD_SUB_MODELO">
                        {{subModel.NOM_SUB_MODELO + '('+ subModel.TIP_CAJA_CAMBIO+ ') '+ (subModel.NOM_TRACCION == 'UNKNOWN' ? "": subModel.NOM_TRACCION)}}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subModel'].errors?.required">
                      * sub model is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['typeOfUse'].invalid 
                  && (quoteForm.controls['typeOfUse'].dirty 
                  || quoteForm.controls['typeOfUse'].touched)}">
                    <label for="typeOfUse">Type of Use</label>
                    <select class="custom-select mr-sm-2 required" formControlName="typeOfUse"
                      (change)="typeOfUseOnchange()" [(ngModel)]="carDetails.typeOfUse"
                      [attr.disabled]=" LOV.typeOfUseLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let typeOfUse of LOV.typeOfUseLOV" [ngValue]="typeOfUse.COD_USO_VEHI">
                        {{ typeOfUse.NOM_USO_VEHI }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['typeOfUse'].errors?.required">
                      * type of use is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subline'].invalid 
                  && (quoteForm.controls['subline'].dirty 
                  || quoteForm.controls['subline'].touched)}">
                    <label for="subline">Subline</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subline"
                      (change)="sublineOnchange($event)" [(ngModel)]="carDetails.subline"
                      [attr.disabled]=" LOV.sublineLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let subline of LOV.sublineLOV" [ngValue]="subline.value"
                        [attr.data-sublinedate]="subline.effectivityDate">{{ subline.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subline'].errors?.required">
                      * subline is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['vehicleValue'].invalid 
                  && (quoteForm.controls['vehicleValue'].dirty 
                  || quoteForm.controls['vehicleValue'].touched)}">
                    <label for="vehicleValue">Vehicle Value</label>
                    <input type="text" formControlName="vehicleValue" class="form-control"
                      [(ngModel)]="carDetails.vehicleValue" readonly>
                    <p class="form-error" *ngIf="quoteForm.controls['vehicleValue'].errors?.required">
                      * vehicle value is required
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Vehicle Information</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['color'].invalid 
                    && (quoteForm.controls['color'].dirty 
                    || quoteForm.controls['color'].touched)}">
                    <label for="color">Color</label>
                    <select class="custom-select mr-sm-2 required" formControlName="color"
                      [(ngModel)]="carDetails.color">
                      <option *ngFor="let color of LOV.colorLOV" [ngValue]="color.COD_COLOR">{{ color.NOM_COLOR }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['color'].errors?.required">
                      * color is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['areaOfUsage'].invalid 
                    && (quoteForm.controls['areaOfUsage'].dirty 
                    || quoteForm.controls['areaOfUsage'].touched)}">
                    <label for="areaOfUsage">Area of Usage</label>
                    <select class="custom-select mr-sm-2 required" formControlName="areaOfUsage"
                      [(ngModel)]="carDetails.areaOfUsage" [attr.disabled]=" LOV.areaOfUsageLOV?.length ? null : true">
                      <option *ngFor="let areaOfUsage of LOV.areaOfUsageLOV" [ngValue]="areaOfUsage.COD_VALOR">
                        {{ areaOfUsage.NOM_VALOR }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['areaOfUsage'].errors?.required">
                      * area of usage is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['conductionNumber'].invalid 
                  && (quoteForm.controls['conductionNumber'].dirty 
                  || quoteForm.controls['conductionNumber'].touched)}">
                    <label for="conductionNumber">Conduction Number</label>
                    <input type="text" formControlName="conductionNumber" class="form-control" [ngClass]="{'required' : carDetails.plateNumber === undefined
                      || carDetails.plateNumber === null
                      || carDetails.plateNumber === ''}" [(ngModel)]="carDetails.conductionNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['conductionNumber'].errors?.required">
                      * conduction number is required
                    </p>
                    <p class="form-error"
                      *ngIf="quoteForm.controls['conductionNumber'].errors?.invalidConductionNumber">
                      * conduction number is invalid
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['plateNumber'].invalid 
                  && (quoteForm.controls['plateNumber'].dirty 
                  || quoteForm.controls['plateNumber'].touched)}">
                    <label for="plateNumber">Plate Number</label>
                    <input type="text" formControlName="plateNumber" class="form-control"
                      [attr.disabled]=" (LOV.sublineLOV?.length && LOV.modelYearLOV?.length) ? null : true" [ngClass]="{'required' : carDetails.conductionNumber === undefined
                      || carDetails.conductionNumber === null
                      || carDetails.conductionNumber === ''}" [(ngModel)]="carDetails.plateNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['plateNumber'].errors?.required">
                      * plate number is required
                    </p>
                    <p class="form-error" *ngIf="quoteForm.controls['plateNumber'].errors?.invalidPlateNumber">
                      * plate number is invalid
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['serialNumber'].invalid 
                  && (quoteForm.controls['serialNumber'].dirty 
                  || quoteForm.controls['serialNumber'].touched)}">
                    <label for="serialNumber">Chassis Number/Serial Number</label>
                    <input type="text" formControlName="serialNumber" class="form-control required"
                      [(ngModel)]="carDetails.serialNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['serialNumber'].errors?.required">
                      * serial number is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['engineNumber'].invalid 
                  && (quoteForm.controls['engineNumber'].dirty 
                  || quoteForm.controls['engineNumber'].touched)}">
                    <label for="engineNumber">Motor Number/Engine Number</label>
                    <input type="text" formControlName="engineNumber" class="form-control required"
                      [(ngModel)]="carDetails.engineNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['engineNumber'].errors?.required">
                      * engine number is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="mvFileNumber">MV File Number</label>
                    <input type="text" formControlName="mvFileNumber" class="form-control"
                      [(ngModel)]="carDetails.mvFileNumber">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['purchaseDate'].invalid 
                      && (quoteForm.controls['purchaseDate'].dirty 
                      || quoteForm.controls['purchaseDate'].touched)}">
                    <label for="purchaseDate">Purchase Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="today"
                      formControlName="purchaseDate" [(ngModel)]="carDetails.purchaseDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['purchaseDate'].errors?.required">
                      * purchase date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['receivedBy'].invalid 
                  && (quoteForm.controls['receivedBy'].dirty 
                  || quoteForm.controls['receivedBy'].touched)}">
                    <label for="receivedBy">Received By</label>
                    <input type="text" formControlName="receivedBy" class="form-control required"
                      [(ngModel)]="carDetails.receivedBy">
                    <p class="form-error" *ngIf="quoteForm.controls['receivedBy'].errors?.required">
                      * received by is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['receivedDate'].invalid 
                      && (quoteForm.controls['receivedDate'].dirty 
                      || quoteForm.controls['receivedDate'].touched)}">
                    <label for="receivedDate">Received Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="today"
                      formControlName="receivedDate" [(ngModel)]="carDetails.receivedDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['receivedDate'].errors?.required">
                      * received date is required
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Policy Holder Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Policy Holder</h6>
                </div>

                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['clientName'].invalid 
                  && (quoteForm.controls['clientName'].dirty 
                  || quoteForm.controls['clientName'].touched)}">
                    <label for="clientName">Client's Name</label>
                    <input type="text" formControlName="clientName" class="form-control required"
                      [(ngModel)]="carDetails.clientName">
                    <p class="form-error" *ngIf="quoteForm.controls['clientName'].errors?.required">
                      * client's name is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>General Information</strong>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Group Policy</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['groupPolicy'].invalid 
                        && (quoteForm.controls['groupPolicy'].dirty 
                        || quoteForm.controls['groupPolicy'].touched)}">
                    <label for="groupPolicy">Group Policy</label>
                    <select class="custom-select mr-sm-2" formControlName="groupPolicy"
                      [attr.disabled]=" GPLOV.groupPolicyLOV?.length ? null : true"
                      [(ngModel)]="groupPolicy.groupPolicy" (change)="groupPolicyOnChange()">
                      <option></option>
                      <option *ngFor="let groupPolicy of GPLOV.groupPolicyLOV" [ngValue]="groupPolicy.NUM_POLIZA">
                        {{ groupPolicy.NOM_POLIZA }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['groupPolicy'].errors?.required">
                      * group policy is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['contract'].invalid 
                        && (quoteForm.controls['contract'].dirty 
                        || quoteForm.controls['contract'].touched)}">
                    <label for="contract">Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="contract"
                      (change)="contractOnChange()" [(ngModel)]="groupPolicy.contract"
                      [attr.disabled]=" groupPolicy.groupPolicy ? null : true">
                      <option></option>
                      <option *ngFor="let contract of GPLOV.contractLOV" [ngValue]="contract.NUM_CONTRATO">
                        {{ contract.NOM_CONTRATO }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['contract'].errors?.required">
                      * contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subContract'].invalid 
                        && (quoteForm.controls['subContract'].dirty 
                        || quoteForm.controls['subContract'].touched)}">
                    <label for="subContract">Sub Contract</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subContract"
                      [(ngModel)]="groupPolicy.subContract"
                      [attr.disabled]=" groupPolicy.groupPolicy && groupPolicy.contract ? null : true">
                      <option></option>
                      <option *ngFor="let subContract of GPLOV.subContractLOV" [ngValue]="subContract.NUM_SUBCONTRATO">
                        {{ subContract.NOM_SUBCONTRATO }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subContract'].errors?.required">
                      * sub contract is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['commercialStructure'].invalid 
                        && (quoteForm.controls['commercialStructure'].dirty 
                        || quoteForm.controls['commercialStructure'].touched)}">
                    <label for="commercialStructure">Commercial Structure</label>
                    <select class="custom-select mr-sm-2 required" formControlName="commercialStructure"
                      [attr.disabled]=" GPLOV.commercialStructureLOV?.length ? null : true"
                      [(ngModel)]="groupPolicy.commercialStructure">
                      <option></option>
                      <option *ngFor="let commercialStructure of GPLOV.commercialStructureLOV"
                        [ngValue]="commercialStructure.COD_NIVEL3">{{ commercialStructure.NOM_NIVEL3 }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['commercialStructure'].errors?.required">
                      * commercial structure is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['agentCode'].invalid 
                      && (quoteForm.controls['agentCode'].dirty 
                      || quoteForm.controls['agentCode'].touched)}">
                    <label for="agentCode">Agent Code</label>
                    <input type="text" formControlName="agentCode" class="form-control required"
                      [(ngModel)]="groupPolicy.agentCode">
                    <p class="form-error" *ngIf="quoteForm.controls['agentCode'].errors?.required">
                      * agent code is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['expiringPolicyNumber'].invalid 
                      && (quoteForm.controls['expiringPolicyNumber'].dirty 
                      || quoteForm.controls['expiringPolicyNumber'].touched)}">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbIsRenewal" formControlName="cbIsRenewal"
                        [(ngModel)]="groupPolicy.cbIsRenewal">
                      <label class="form-check-label" for="cbIsRenewal">
                        Renewal
                      </label>
                    </div>
                    <label class="form-check-label" for="cbIsRenewal">
                      Expiring Policy Number
                    </label>
                    <input type="text" formControlName="expiringPolicyNumber"
                      [attr.disabled]="groupPolicy.cbIsRenewal ? null : ''" class="form-control required"
                      [(ngModel)]="groupPolicy.expiringPolicyNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['expiringPolicyNumber'].errors?.required">
                      * expiring policy number is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>

                <div class="col-xl-12">
                  <h6>Movement Dates</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['effectivityDate'].invalid 
                      && (quoteForm.controls['effectivityDate'].dirty 
                      || quoteForm.controls['effectivityDate'].touched)}">
                    <label for="effectivityDate">Effectivity Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="today"
                      formControlName="effectivityDate" [(ngModel)]="groupPolicy.effectivityDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['effectivityDate'].errors?.required">
                      * effectivity date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['expiryDate'].invalid 
                      && (quoteForm.controls['expiryDate'].dirty 
                      || quoteForm.controls['expiryDate'].touched)}">
                    <label for="expiryDate">Expiry Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required"
                      [minDate]="expiryDateMinDate" formControlName="expiryDate" [(ngModel)]="groupPolicy.expiryDate"
                      bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['expiryDate'].errors?.required">
                      * expiry date is required
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header d-flex justify-content-between optional"
              (click)="showAccessories = !showAccessories"
              matTooltip="click to show/hide accessories">
              <strong>Accessories</strong>
              <div class="dropdown no-arrow">
                <i class="fas fa-angle-double-down fa-sm fa-fw text-gray-400"></i>
              </div>
            </div>
            <div class="card-body" *ngIf="showAccessories">

              <div formArrayName="accessories">
                <div *ngFor="let accessories of quoteForm.get('accessories')['controls']; let i=index">
                  <div [formGroupName]="i" class="card accessory-card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-10 col-md-9">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group" [ngClass]="{'input-error': accessories.controls['accessory'].invalid 
                                && (accessories.controls['accessory'].dirty 
                                || accessories.controls['accessory'].touched)}">
                                <label for="accessory">Accessory List</label>
                                <select class="custom-select mr-sm-2 required" formControlName="accessory"
                                  (change)="accessoryOnchange($event, i)">
                                  <option *ngFor="let accessoryList of LOV.accessoryListLOV"
                                    [ngValue]="accessoryList.COD_ACCESORIO"
                                    [attr.disabled]="accessoryList.disabled ? '' : null"
                                    [attr.data-price]="accessoryList.IMP_ACCESORIO"
                                    [attr.data-type]="accessoryList.ABR_AGRUP_ACCESORIO">
                                    {{ accessoryList.NOM_ACCESORIO }}
                                    ( {{ 
                                      accessoryList.ABR_AGRUP_ACCESORIO == 'A' ? 'Additional' :
                                      accessoryList.ABR_AGRUP_ACCESORIO == 'B' ? 'Built-in' : 'Free'
                                    }} )</option>
                                </select>
                                <p class="form-error" *ngIf="accessories.controls['accessory'].errors?.required">
                                  * accessory list is required
                                </p>
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="form-group" [ngClass]="{'input-error': accessories.controls['accessoryType'].invalid 
                                && (accessories.controls['accessoryType'].dirty 
                                || accessories.controls['accessoryType'].touched)}">
                                <label for="accessoryType">Accessory Type</label>
                                <input type="text" formControlName="accessoryType" class="form-control required"
                                  readonly>
                                <p class="form-error" *ngIf="accessories.controls['accessoryType'].errors?.required">
                                  * accessory type is required
                                </p>
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="form-group" [ngClass]="{'input-error': accessories.controls['price'].invalid 
                                && (accessories.controls['price'].dirty 
                                || accessories.controls['price'].touched)}">
                                <label for="price">Price</label>
                                <input type="number" class="form-control required" formControlName="price">
                                <p class="form-error" *ngIf="accessories.controls['price'].errors?.required">
                                  * price is required
                                </p>
                              </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group" [ngClass]="{'input-error': accessories.controls['description'].invalid 
                                && (accessories.controls['description'].dirty 
                                || accessories.controls['description'].touched)}">
                                <label for="description">Description</label>
                                <textarea type="text" formControlName="description"
                                  class="form-control required"></textarea>
                                <p class="form-error" *ngIf="accessories.controls['description'].errors?.required">
                                  * description is required
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-2 col-md-3">
                          <div class="btn-group">
                            <button class="btn btn-primary" (click)="removeAccessory(i)">Remove</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="btn-group">
                <button [disabled]="quoteForm.get('accessories').status !== 'VALID' || !carDetails.subline"
                  type="button" (click)="addAccessory()" class="btn btn-primary">Add Accessory</button>
              </div>

            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header d-flex justify-content-between optional"
              (click)="showAdditionalInformation = !showAdditionalInformation"
              matTooltip="click to show/hide additional policy information">
              <strong>Additional Policy Information</strong>
              <div class="dropdown no-arrow">
                <i class="fas fa-angle-double-down fa-sm fa-fw text-gray-400"></i>
              </div>
            </div>
            <div class="card-body" *ngIf="showAdditionalInformation">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Additional Vehicle Information</h6>
                </div>

                <div class="col-lg-9">
                  <div class="form-group">
                    <label for="customerRiskName">Customer Risk Name</label>
                    <input type="text" class="form-control" [(ngModel)]="carDetails.customerRiskName"
                      formControlName="customerRiskName">
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="seatingCapacity">Seating Capacity</label>
                    <input type="number" class="form-control" [(ngModel)]="carDetails.seatingCapacity"
                      formControlName="seatingCapacity">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="text" class="form-control" [(ngModel)]="carDetails.weight" formControlName="weight">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="displacement">Displacement</label>
                    <input type="text" class="form-control" [(ngModel)]="carDetails.displacement"
                      formControlName="displacement">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="classification">Classification</label>
                    <select class="custom-select mr-sm-2" formControlName="classification"
                      [(ngModel)]="carDetails.classification">
                      <option selected></option>
                      <option *ngFor="let classification of LOV.classificationLOV" [ngValue]="classification.TIP_VEHI_PESO">{{ classification.NOM_VALOR }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="price">Coverage Area</label>
                    <select class="custom-select mr-sm-2" formControlName="coverageArea"
                      [(ngModel)]="carDetails.coverageArea">
                      <option selected></option>
                      <option *ngFor="let coverageArea of LOV.coverageAreaLOV" [ngValue]="coverageArea.COD_AREA_COVER">{{ coverageArea.NOM_VALOR }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="assuredCoinsuranceShare">Assured's Coinsurance Share</label>
                    <input type="text" class="form-control" [(ngModel)]="carDetails.assuredsCoinsuranceShare"
                      formControlName="assuredsCoinsuranceShare">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbWaivedMinPremium"
                        [(ngModel)]="carDetails.cbWaivedMinPremium" formControlName="cbWaivedMinPremium">
                      <label class="form-check-label" for="cbWaivedMinPremium">
                        Waived Min. Premium
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Other Details</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbGlassEtchingEntitled"
                        [(ngModel)]="carDetails.cbGlassEtchingEntitled" formControlName="cbGlassEtchingEntitled">
                      <label class="form-check-label" for="cbGlassEtchingEntitled">
                        Glass Etching Entitled
                      </label>
                    </div>
                    <label class="form-check-label" for="glassEtchingAvailmentDate">
                      Glass Etching Availment Date
                    </label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="today"
                      [attr.disabled]="carDetails.cbGlassEtchingEntitled ? null : ''"
                      formControlName="glassEtchingAvailmentDate" [(ngModel)]="carDetails.glassEtchingAvailmentDate" bsDatepicker>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbPrepaidPremium"
                        [(ngModel)]="carDetails.cbPrepaidPremium" formControlName="cbPrepaidPremium">
                      <label class="form-check-label" for="cbPrepaidPremium">
                        Prepaid Premium
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Inspection Details</h6>
                </div>

                <div class="col-xl-12">
                  <div id="quickQouteDetails" class="alert alert-info">
                    <p><strong>Important Reminder:</strong> Only fill up the following details when advised by the
                      UNDERWRITER.
                    </p>
                  </div>
                  <!-- #quickQouteDetails -->
                </div>

                <div class="col-md-8">
                  <div class="form-group">
                    <label for="existingDamages">Existing Damages</label>
                    <input type="text" class="form-control" formControlName="existingDamages"
                      formControlName="existingDamages">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="price">Inspection Assessment</label>
                    <select class="custom-select mr-sm-2" formControlName="inspectionAssessment" [(ngModel)]="carDetails.inspectionAssessment">
                      <option selected></option>
                      <option *ngFor="let inspectionAssessment of LOV.inspectionAssessmentLOV" [ngValue]="inspectionAssessment.COD_VALOR">{{ inspectionAssessment.NOM_VALOR }}</option>
                    </select>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header d-flex justify-content-between optional"
              (click)="showSubAgent = !showSubAgent"
              matTooltip="click to show/hide subagents">
              <strong>Subagent</strong>
              <div class="dropdown no-arrow">
                <i class="fas fa-angle-double-down fa-sm fa-fw text-gray-400"></i>
              </div>
            </div>
            <div class="card-body" *ngIf="showSubAgent">
              <div class="row">
                <div class="col-sm-6">
                  <h6>Subagent List</h6>
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subAgent'].invalid 
                      && (quoteForm.controls['subAgent'].dirty 
                      || quoteForm.controls['subAgent'].touched)}">
                    <ng-select [items]="LOV.subagentLOV" bindLabel="name" placeholder="Select Subagent" appendTo="body"
                      formControlName="subAgent" multiple="true" [(ngModel)]="carDetails.subAgent">
                    </ng-select>
                    <p class="form-error" *ngIf="quoteForm.controls['subAgent'].errors?.required">
                      * subagent is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Product</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Product Data</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['paymentMethod'].invalid 
                        && (quoteForm.controls['paymentMethod'].dirty 
                        || quoteForm.controls['paymentMethod'].touched)}">
                    <label for="paymentMethod">Payment Method</label>
                    <select class="custom-select mr-sm-2 required" formControlName="paymentMethod"
                      [(ngModel)]="carDetails.paymentMethod" [attr.disabled]=" !carDetails.subline ? true : null">
                      <option selected></option>
                      <option *ngFor="let paymentMethod of LOV.paymentMethodLOV"
                        [ngValue]="paymentMethod.COD_FRACC_PAGO">
                        {{ paymentMethod.NOM_FRACC_PAGO }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['paymentMethod'].errors?.required">
                      * payment method is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['product'].invalid 
                        && (quoteForm.controls['product'].dirty 
                        || quoteForm.controls['product'].touched)}">
                    <label for="product">Product List</label>
                    <select class="custom-select mr-sm-2 required" formControlName="product"
                      [(ngModel)]="carDetails.productList" [attr.disabled]=" LOV.productListLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let product of LOV.productListLOV" [ngValue]="product.COD_MODALIDAD">
                        {{ product.NOM_MODALIDAD }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['product'].errors?.required">
                      * product list is required
                    </p>
                  </div>
                </div>

                <div class="col-xl-12">
                  <div id="quickQouteDetails" class="alert alert-info">
                    <p><strong>Important Reminder:</strong> Make sure to fill out all required fields to enable the product list selection.
                    </p>
                  </div>
                  <!-- #quickQouteDetails -->
                </div>

              </div>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="test(carDetails, groupPolicy)">Test</button>
            <button [disabled]="quoteForm.pristine || quoteForm.invalid" type="button" class="btn btn-primary"
              (click)="issueQuote(carDetails, groupPolicy)">Issue
              Qoute</button>
            <button [disabled]="true" type="button" class="btn btn-primary">Print Qoute</button>
            <button [disabled]="true" type="button" class="btn btn-primary">Proceed to Issuance</button>
          </div>

        </form>
        <!-- .regular-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quotationCar -->
